.hero{
  padding: 100px 15px;
  display: flex;
  align-items: center;
  position: relative;
  background-position: center;
  @include media-breakpoint-up(md) {
    padding: 162px 15px;
  }
  @include media-breakpoint-up(lg) {
    margin-right: 50px;
    min-height: 750px;
  }
  &::before{
    content: "";
    width: 100%;
    height: 100%;
    background: $green;
    display: block;
    opacity: 80%;
    position: absolute;
    left: -50%;
    top: 0;
    bottom: 0;
    transform: skew(-25deg);
  }
  &::after{
    content: "";
    width: 100%;
    height: 100%;
    background: $black;
    display: block;
    opacity: 20%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
  &__content{
    position: relative;
    z-index: 2;
  }
  &__title{
    font-family: 3.4rem;
    line-height: 4.4rem;
    color: $white;
    margin-bottom: 26px;
    margin-top: 0px;
    text-shadow: 0px 0px 6px rgba(0,0,0,0.25);
    @include media-breakpoint-up(lg) {
      font-family: 4.6rem;
      line-height: 5.8rem;
      margin-top: 40px;
      margin-bottom: 21px;
    }
    span{
      display: block;
      color: $yellow;
    }
  }
  p{
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $white;
    margin-bottom: 30px;
    text-shadow: 0px 0px 6px rgba(0,0,0,0.25);
    @include media-breakpoint-up(lg) {
      font-size: 1.8rem;
      line-height: 2.6rem;
    }
  }
  // .link{
  //   margin-bottom: 30px;
  // }
  // &__status{
    
  //   align-items: center;
  //   margin-bottom: 20px;
  //   @include media-breakpoint-up(lg) {
  //     display: flex;
  //   }
  //   p{
  //     font-size: 1.4rem;
  //     line-height: 1.7rem;
  //     color: $medium-gray;
  //     font-weight: 700;
  //     margin-bottom: 0;
  //   }
  //   .status{
  //     @include media-breakpoint-up(lg) {
  //       margin-bottom: 0;
  //     }
  //   }
  // }
  // &__social-link{
  //   li{
  //     width: 36px;
  //     margin-right: 20px;
  //     display: inline-block;
  //     &:last-child{
  //       margin-right: 0px;
  //     }
  //   }
  // }
  // &__date-time{
  //   font-size: 1.4rem;
  //   line-height: 1.7rem;
  //   color: $green;
  //   margin-bottom: 20px;
  //   font-weight: 700;
  // }
  // &__content{
  //   position: relative;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  //   padding: 55px 0;
  //   height: 100%;
  //   align-items: center;
  //   justify-content: center;
  //   @include media-breakpoint-up(lg) {
  //     padding: 0;
  //   }
  //   &::before{
  //     content: "";
  //     background-image: url('../images/wave dot pattern.png');
  //     background-size: cover;
  //     width: 165px;
  //     height: 113px;
  //     position: absolute;
  //     left: -30px;
  //     top: 8px;
  //     z-index: 3;
  //     @include media-breakpoint-up(lg) {
  //       width: 300px;
  //       height: 202px;
  //       left: -165px;
  //       top: -60px;
  //     }
  //   }
  // }
  // &__info{
  //   z-index: 3;
  //   position: relative;
  //   width: 100%;
  //   @include media-breakpoint-up(lg) {
  //     width: 95%;
  //   }
  // }
  // &__btn{
  //   display: flex;
  //   align-items: center;
  //   @include media-breakpoint-up(lg) {
  //     display: flex;
  //   }
  //   .btn{
  //     margin-right: 20px;
  //   }
  // }
  // &__circle-box{
  //   width: 1200px;
  //   height: 1200px;
  //   border-radius: 50%;
  //   position: absolute;
  //   right: auto;
  //   background-color: $white;
  //   z-index: 2;
  //   bottom: -50px;
  //   @include media-breakpoint-up(md) {
  //     bottom: -120px;
  //   }
  //   @include media-breakpoint-up(lg) {
  //     right: -80px;
  //     bottom: auto;
  //   }
  // }
  // &__curv{
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   width: 60%;
  //   right: 0;
  //   background-size: cover;
  //   background-position-y: bottom;
  //   background-position-x: center;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   @include media-breakpoint-down(md) {
  //     bottom: 0;
  //     width: 100%;
  //   }
  //   @include media-breakpoint-down(sm) {
  //     height: 525px;
  //     top: auto;
  //   }

  // }
  // &__form{
  //   background-color: $white;
  //   padding: 30px;
  //   box-shadow: 8px 8px 50px 0 rgba(184,195,198,0.68);
  //   border-radius: 4px;
  //   margin-top: 100px;
  //   // bottom: -50px;
  //   position: relative;
  //   z-index: 3;
  //   @include media-breakpoint-up(md) {
  //     margin-top: 180px;
  //   }
  //   @include media-breakpoint-up(lg) {
  //     margin-top: 0;
  //   }
  //   .btn{
  //     width: 100%;
  //   }
  // }
  // &--with-form{
  //   padding: 0px 15px 45px;
  //   background-size: cover;
  //   @include media-breakpoint-up(lg) {
  //     padding: 162px 15px;
  //     background-size: cover;
  //   }
  //   @include media-breakpoint-up(xl) {
  //     background-size: contain;
  //   }
  //   &::before{
  //     display: none;
  //   }
  //   .hero__title{
  //     margin-top: 0;
  //   }
  //   .hero__curv{
  //     width: 80%;
  //     @include media-breakpoint-down(md) {
  //       bottom: 0;
  //       width: 100%;
  //       top: 0;
  //       height: auto;
  //     }
  //   }
  // }
  // &--short{
  //   padding: 0px 15px 420px;
  //   @include media-breakpoint-up(lg) {
  //     padding: 120px 15px;
  //   }
  //   &::before{
  //     display: none;
  //   }
  //   .hero__title{
  //     font-size: 4.4rem;
  //     line-height: 5rem;
  //     margin: 0 0 25px;
  //     @include media-breakpoint-up(lg) {
  //       font-size: 6.2rem;
  //       line-height: 7rem;
  //     }
  //   }
  //   p{
  //     font-size: 1.6rem;
  //     line-height: 2.8rem;
  //   }
  //   .hero__info{
  //     width: 100%;
  //     @include media-breakpoint-up(lg) {
  //       width: 80%;
  //     }
  //   }
  // }

  // &--right{
  //   &::before{
  //     display: none;
  //   }
  //   .hero-content{
  //     @include media-breakpoint-up(lg) {
  //       order: 2;
  //     }
  //   }
  //   .hero__circle-box {
  //     left: auto;
  //     @include media-breakpoint-up(lg) {
  //       left: -100px;
  //     }
  //   }
  //   .hero__curv{
  //     left: 0;
  //     right: auto;
  //   }
  //   .hero__content{
  //     &::before{
  //       left: -30px;
  //       right: auto;
  //       @include media-breakpoint-up(lg) {
  //         right: -165px;
  //         left: auto;
  //       }
  //     }
  //   }
  //   .hero__info{
  //     width: 100%;
  //     @include media-breakpoint-up(lg) {
  //       width: 95%;
  //     }
  //   }
  // }

  // &--dark{
  //   .hero__circle-box{
  //     background-color: $dark-gray-blue;
  //   }
  //   .hero__title{
  //     color: $white;
  //   }
  //   p{
  //     color: $white;
  //   }
  // }

  // .multiple-items{
  //   width:900px;
  //   transform: translateX(-42%);
  //   @include media-breakpoint-up(xl) {
  //     width: 1000px;
  //   }
  //   @include media-breakpoint-up(xl) {
  //     width: 1200px;
  //   }
  // }
  // .slick-slide{
  //   text-align: center;
  //   color: $aqua-blue;
  //   opacity: 0.4;
  //   line-height: 5.4rem;
  //   @include media-breakpoint-up(lg) {
  //     line-height: 7rem;
  //   }
  //   &.slick-current{
  //     opacity: 1;
  //   }
  // }
  
}