@mixin linear-gradient($direction, $color-stops...) {
  @if is-direction($direction) == false {
    $color-stops: ($direction, $color-stops);
    $direction: 180deg;
  }
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(
    legacy-direction($direction),
    $color-stops
  );
  background: linear-gradient($direction, $color-stops);
}

@mixin box-shadow(
  $horiz: 0,
  $vert: 0,
  $blur: 10px,
  $spread: 0px,
  $color: rgba(0, 0, 0, 0.08)
) {
  -webkit-box-shadow: $horiz $vert $blur $spread $color;
  -moz-box-shadow: $horiz $vert $blur $spread $color;
  box-shadow: $horiz $vert $blur $spread $color;
}

@mixin for-phone-only {
  @media (max-width: 599px) {
    width: 85%;
    height: auto;
    position: absolute;
    background-color: #91965e;
    right: 0;
    top: 100px;
    border-radius: 100px 0 0 100px;
    display: block;
    padding: 120px;
  }
  .hero-module__image {
    flex: 40% 0 0;
  }
}

@mixin for-desktop-menu {
  @media screen and (max-width: 1600px) {
    justify-content: center;
  }
}
@mixin for-desktop-top-menu {
  @media screen and (max-width: 1920px) {
    width: 100%;
  }
  @media screen and (max-width: 1600px) {
    width: 70%;
  }
}
@mixin for-desktop-top-link-menu {
  @media screen and (max-width: 1600px) {
    width: 20%;
    text-align: right;
  }
  @media screen and (max-width: 1440px) {
    width: 17%;
    text-align: left;
  }
  @media screen and (max-width: 1200px) {
    width: 0;
  }
}
@mixin for-desktop-link-menu {
  @media screen and (max-width: 1600px) {
    justify-content: stretch;
  }
}
@mixin for-hero-pattern {
  // @media screen and (max-width: 1120px) {
  //   width: 195px !important;
  // }
}

@mixin btn {
  padding-bottom: 16px;
  padding: 13px 22px;
  color: $white;
  font-size: 1.6rem;
  line-height: 2.4rem;
  position: relative;
  overflow: hidden;
  display: inline-block;
  font-family: $nunito;
  z-index: 1;
  background-color: $green;
  transition: 0.7s ease all;
  // display: flex;
  // width: fit-content;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  text-align: center;
  &:hover {
    color: $white;
    &:before {
      width: 100%;
      transition: 0.7s ease all;
    }
    &:after {
      color: $white;
    }
  }
  &:before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    transition: 0.7s ease all;
    z-index: -1;
  }
}
