// Colors

$light-green: #aabd96;
$shadow-green: #567c2ed9;

$yellow: #f5a41d;

$dim-gray: #686565;
$transperent-black: #00000090; // Colors

$light-green: #aabd96;
$shadow-green: #567c2ed9;

$yellow: #f5a41d;

$dim-gray: #686565;
$transperent-black: #00000090;
$transperent-white: #cccaca30;
$white-smoke: #f1f1f1;
$white-bg: #f4f4ef;

$cream: #fef6e8;
$darkcream: #f5ede1;
$lightskyblue: #a8dcec;
$white: #fff;
$black: #000;
$Snow: #ccc;
$Nero: #3e3f43;
$dark-grey: #222;
$grey: #494e5b;
$light-nevyblue: #64729d;
$transperent-nevyblue: #64729dcc;
$green: #91965e;
$charcoal-grey: #383736;
$silver: #a4a4a7;
$b-gray: #dddddd;
$light-gray: #aaaaaa;
$orange: #dd4b39;
$sky-blue: #00aced;
$venice: #32506d;
$red: #cb2027;
$bg-cream: #f2f2f2;
$dark-cream: #f4f1e4;
$light-cream: #faf6ee;
$floral: #fffbf3;
$light-green: #c8c6a3;

// Fonts
$nunito: "nunito";
$rozha-one: "rozha_oneregular";
$playlistscript: "playlistscript";

$transperent-white: #cccaca30;
$white-smoke: #f1f1f1;
$white-bg: #f4f4ef;

$cream: #fef6e8;
$darkcream: #f5ede1;
$lightskyblue: #a8dcec;
$white: #fff;
$black: #000;
$Snow: #ccc;
$Nero: #3e3f43;
$dark-grey: #222;
$grey: #494e5b;
$light-nevyblue: #64729d;
$transperent-nevyblue: #64729dcc;
$green: #91965e;
$charcoal-grey: #383736;
$silver: #a4a4a7;
$b-gray: #dddddd;
$light-gray: #aaaaaa;
$orange: #dd4b39;
$sky-blue: #00aced;
$venice: #32506d;
$red: #cb2027;
$bg-cream: #f2f2f2;
$dark-cream: #f4f1e4;
$light-cream: #faf6ee;
$floral: #fffbf3;
$light-green: #c8c6a3;
$gray-bg: #6d7179;

// Fonts
$nunito: "nunito";
$rozha-one: "rozha_oneregular";
$playlistscript: "playlistscript";
