$armygreen: #919561;
$light: #fffbf3;
$slate: #65739c;
$dark: #494e5b;

.select2-results__option {
  &:focus {
    outline: none !important;
  }
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  font-size: 1rem;
}
.checkout-page {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2;
  }
  .content-wrapper {
    &__title {
      font-size: 5rem;
      margin-bottom: 1rem;
      font-weight: 900;
    }
  }
  .form-title {
    h2 {
      font-size: 4rem;
      margin-bottom: 1rem;
    }
  }
  .checkout-navigation {
    &__wrapper {
      padding: 1.5rem 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
    }
    &__title-wrapper {
      position: relative;
      padding-bottom: 1.1rem;
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        max-width: 80%;
        height: 5px;
        background-color: #bbb;
        border-radius: 100px;
      }
    }
    &__title {
      font-family: "nunito";
      font-size: 2rem;
      margin-bottom: 0;
      text-transform: none;
      color: #bbb;
      margin-bottom: 0.3rem;
    }
    &__label {
      color: #bbb;
      font-family: "nunito";
      font-size: 1.4rem;
      text-transform: none;
      margin-bottom: 0.5rem;
    }
    &__column {
      width: 100%;
      max-width: 33.33333333%;
      &.active {
        .checkout-navigation__title-wrapper {
          &:before {
            background-color: $slate;
          }
        }
        .checkout-navigation__title {
          color: $slate;
        }
        .checkout-navigation__label {
          color: $slate;
        }
      }
    }
  }
  .custom-checkout-form {
    background-color: #f3f5fa;
    padding: 2rem 1rem;
    margin-top: 1.5rem;
    border: 2px solid #eee;
    @media (min-width: 576px) {
      padding: 3rem;
    }
    border-radius: 5px;
    box-shadow: 0 1px 14px 0 rgba(0, 0, 0, 0.05);
    form {
      background-color: transparent !important;
      font-family: "nunito";
      select {
        &:focus {
          outline: none !important;
        }
      }
    }
    label {
      opacity: 0.8;
    }
    .select2-container--default .select2-search--dropdown .select2-search__field {
      font-size: 1rem !important;
    }
    .select2-container--default {
      width: 100% !important;
    }
    &__content-wrapper {
      padding-bottom: 2rem;
      &__title,
      &__subtitle {
        text-transform: none;
        font-family: "nunito";
      }
      &__title {
        font-size: 2rem;
        font-weight: 900;
      }
      &__subtitle {
        font-size: 1.5rem;
        margin-top: 0.5rem;
        color: $dark;
      }
    }
    min-height: 350px;
    .woocommerce-button,
    button {
      width: 100%;
      margin-top: 1rem;
      height: auto;
      padding: 15px 30px;
      transition: 0.2s ease;
      color: #fff;
      &:focus {
        outline: none;
      }
      &:hover {
        background-color: $slate;
        transition: 0.2s ease;
      }
    }
    .select2-container--default .select2-selection--single {
      min-height: 2.4rem;
    }
    #billing_state_field,
    #billing_country_field {
      label {
        margin-bottom: 0;
      }
    }
    .woocommerce-error {
      background-color: #e74c3c !important;
      border: none !important;
      border-radius: 4px;
      li {
        color: #fff;
        a {
          color: #fff !important;
        }
      }
    }
    &__step-1 {
      .u-columns {
        margin: 0;
      }
      .mailchimp-newsletter {
        display: flex;
        align-items: center;
        label {
          margin-bottom: 0;
        }
      }
      .register-header,
      .login-header {
        text-align: center;
        h2 {
          font-size: 2rem;
        }
      }
      .auth-wrapper {
        @media (min-width: 768px) {
          margin-left: auto;
          margin-right: auto;
        }
      }
      .span.select2.select2-container.select2-container--default {
        width: 100% !important;
      }
      .u-column2,
      .u-column1 {
        &.col-lg-6 {
          @media (min-width: 992px) {
            max-width: 100%;
            flex: 0 0 100%;
            padding: 0;
          }
        }
      }
      .u-columns {
        .col-lg-6 {
          padding: 0;
        }
        h2 {
          color: $slate;
          text-transform: none;
          font-size: 3rem;
          margin-bottom: 2rem;
          font-weight: 900;
        }
        form {
          padding: 0;
          margin: 0;
          width: 100%;
          border: none;
          .woocommerce-input-wrapper,
          .select2,
          .selection,
          .select2-selection,
          .select2-selection__rendered,
          .select2-results__option {
            &:focus {
              outline: none !important;
            }
          }
          @media (min-width: 576px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
          }
          @media (min-width: 768px) {
            padding-top: 1.25rem;
            border-top: 1px solid #7564b730;
            margin-top: 1.25rem;
          }
          .form-row {
            &-first,
            &-last {
              width: 100%;
              max-width: 100%;
              @media (min-width: 576px) {
                max-width: 50% !important;
              }
              &.woocommerce-form-row--wide,
              &.woocommerce-FormRow.form-row {
                display: block;
                @media (min-width: 576px) {
                  max-width: 100% !important;
                }
              }
            }
          }
        }
      }
      h2 {
        color: $slate;
        font-size: 1.5rem;
        text-transform: none;
      }
      .woocommerce-form-login {
        padding: 0;
        border: 0;
        margin-top: 1rem;
        .form-row {
          display: block;
          max-width: 100% !important;
        }
        .lost_password {
          text-align: center;
          display: block;
          width: 100%;
          margin-top: 1rem;
          color: $dark;
          font-size: 15px;
          margin-bottom: 0;
          a {
            color: inherit;
            font-size: inherit;
          }
          &:hover {
            color: $slate;
          }
        }
      }
    }
    &__step-2 {
      .product-quantity,
      .product-remove,
      .product-thumbnail,
      .cart-collaterals,
      .section-header {
        display: none;
      }
      .product-cart {
        padding: 0;
      }
      .product-name,
      .product-thumbnail {
        pointer-events: none;
        a {
          text-decoration: none;
        }
      }
      .coupon {
        display: none;
      }
      button {
        width: auto;
      }
      .woocommerce-cart-form {
        .actions {
          .btn_cart {
            background-color: $armygreen !important;
            &:hover {
              background-color: $slate !important;
              color: #fff !important;
            }
          }
        }
      }
    }
    &__step-3 {
      // .woocommerce-checkout-review-order-table,
      .mailchimp-newsletter,
      .woocommerce-additional-fields,
      .billing_email_field {
        display: none;
      }
      .woocommerce-billing-fields {
        h3 {
          display: none;
        }
      }
      form,
      .col-1 {
        padding: 0;
        border-radius: 0;
      }
      #order_review_heading,
      #order_review {
        padding: 0;
      }
      #order_review_heading {
        text-transform: none;
        font-size: 2rem;
        margin-top: 25px;
        font-family: "nunito";
        margin-bottom: 20px;
      }
      .place-order {
        display: block;
      }
      .payment_method_stripe {
        padding-bottom: 0 !important;
        margin-bottom: 0;
      }
      #place_order {
        margin: 0;
        border-radius: 0;
        text-transform: none;
      }
      .col-lg-6 {
        padding: 0;
        @media (min-width: 992px) {
          max-width: 100%;
          flex: 0 0 100%;
        }
      }
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

@mixin formStyling {
  border: 2px solid #eee;
  padding: 0.75rem;
  border-radius: 4px;
  height: auto;
  font-size: 16px;
  font-family: inherit;
  font-weight: 600;
  color: #000;
  &:focus {
    outline: none;
    border-color: $slate;
    box-shadow: none;
  }
}

@mixin wooButtonStyling {
  padding-bottom: 16px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 !important;
  outline: none !important;
  border: none !important;
  border-radius: 4px;
  background-color: $armygreen !important;
  transition: 0.2s ease;
  &:hover {
    background-color: $slate !important;
    transition: 0.2s ease;
  }
}

.checkout-page {
  .section {
    padding: 4rem 0;
  }
  p {
    margin-bottom: 1rem;
  }
  .woocommerce-forms {
    margin: 0;
    .woocommerce-form {
      &-row {
        input.input-text {
          @include formStyling();
        }
      }
    }
    .show-password-input {
      top: 0.5em;
    }
  }
  .woocommerce-privacy-policy-text {
    margin: 1rem 0;
    p {
      margin-bottom: 0;
      font-size: 14px;
      line-height: 1.5;
    }
  }
  .woocommerce {
    .container,
    .row {
      padding: 0;
      margin: 0;
    }
    form {
      .form-row {
        textarea,
        input,
        select {
          @include formStyling();
        }
      }
    }
  }
  #stripe-payment-data p {
    font-size: 13px;
  }
  .woocommerce table.shop_table {
    thead {
      th {
        color: $dark;
      }
    }
  }
  color: $dark;
  .checkout_coupon {
    input {
      @include formStyling();
    }
    button {
      &.button {
        @include wooButtonStyling();
      }
    }
  }
  .woocommerce-checkout-payment {
    button {
      &.button {
        @include wooButtonStyling();
        border-radius: 4px !important;
        padding: 1.5rem 0 !important;
      }
    }
  }
}

.chh-button {
  @include wooButtonStyling();
  padding: 1rem 1.5rem !important;
  font-weight: 900;
  width: 100% !important;
}

.duplicated-variation {
  pointer-events: none;
}

.custom-checkout-form {
  .subscription-switch-direction {
    display: none;
  }
}

.custom-checkout-form .register-header,
.custom-checkout-form .login-header {
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #7564b730;
  margin-bottom: 1.25rem;
}

body div.nsl-container .nsl-button-google[data-skin="light"] {
  background-color: #db4a3c !important;
  border-color: #db4a3c;
  color: #fff;
  border-radius: 5px;
}

@media (max-width: 768px) {
  body div.nsl-container-block .nsl-container-buttons a {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .body .auth-wrapper {
    display: flex;
    max-width: 510px;
    justify-content: space-between;
  }
}

.nsl-button.nsl-button-default.nsl-button-facebook {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
}

.auth-wrapper {
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #7564b730;
  margin-bottom: 1.25rem;
  @media (min-width: 768px) {
    display: flex;
    max-width: 530px;
    justify-content: space-between;
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 0;
    margin-bottom: 1rem;
  }
}
