$armygreen: #919561;
$light: #fffbf3;
$slate: #65739c;
$dark: #494e5b;

.custom-lp-temp {
  background-color: #fff;
}

// .custom-lp-temp h1,
// .custom-lp-temp h2,
// .custom-lp-temp h3,
// .custom-lp-temp h4,
// .custom-lp-temp h5,
// .custom-lp-temp h6 {
//   font-family: "Dosis", sans-serif;
//   font-weight: 600;
// }
// .custom-lp-temp h1 {
//   font-family: "Abril Fatface", sans-serif;
// }

.custom-lp-temp p,
.custom-lp-temp ul li,
.custom-lp-temp ol li {
  color: #555555;
}

.custom-lp-temp .section {
  padding: 4rem 0;
}

.custom-lp-temp button a {
  color: #fff;
}

.custom-lp-temp button a:hover {
  text-decoration: none;
  color: #fff;
}

.invert,
.invert p {
  color: #fff;
}

.bg-gray {
  background-color: #efefefee;
}

.bg-green {
  background-color: $armygreen !important;
}

.text-green {
  color: $armygreen !important;
}

.bg-purple {
  background-color: $slate !important;
}

.text-purple {
  color: $slate !important;
}

.ui-card.bg-white {
  background-color: #fff;
}

.ui-card {
  border-radius: 4px;
}

.ui-card figure {
  margin-bottom: 0;
  width: 100%;
  height: 200px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.ui-card .bottom-content {
  padding: 1rem;
}

.ui-card .bottom-content h3 {
  font-size: 1.5rem;
  font-family: "nunito";
}

.ui-card .bottom-content h4 {
  margin-top: 1.5rem;
  font-size: 2rem;
}

.ui-card figure img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

figure {
  margin-bottom: 0;
  width: 100%;
}

figure img {
  height: 100%;
  width: 100%;
}

.custom-lp-temp hr {
  border: none;
  height: 4px;
  max-width: 150px;
  border-radius: 100px;
}

button.btn.primary-button {
  background-color: $armygreen;
  color: #fff;
  border-radius: 100px;
  padding: 1rem 1.5rem;
  font-weight: 900;
  font-size: 1.2rem;
  border: 2px solid $armygreen;
  transition: 0.2s ease;
}

button.btn.secondary-button {
  background-color: $slate;
  color: #fff;
  border-radius: 100px;
  padding: 1rem 1.5rem;
  font-weight: 900;
  font-size: 1.2rem;
  border: 2px solid $slate;
  transition: 0.2s ease;
}

button.btn.secondary-button:hover {
  background-color: $dark;
  border-color: $dark;
  transition: 0.2s ease;
}

button.btn.primary-button:hover {
  background-color: $slate;
  border-color: $slate;
  transition: 0.2s ease;
}

/* Page Specific Styles */

.hero {
  /*	background: url('https://images.unsplash.com/photo-1546749876-2088f8b19e09?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80');*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
}

.hero:before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), color-stop(35%, transparent), to(rgba(20, 20, 20, 0.8)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, transparent 0%, rgba(20, 20, 20, 1) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%, transparent 0%, rgba(20, 20, 20, 1) 100%);
}

.hero:after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), color-stop(35%, transparent), to(rgba(20, 20, 20, 0.8)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, transparent 0%, rgba(20, 20, 20, 1) 100%);
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.75) 0%, transparent 0%, rgba(20, 20, 20, 1) 100%);
}

.hero .text-content {
  max-width: 600px;
  position: relative;
  z-index: 1;
}

.hero h1,
.hero p {
  text-shadow: 0 0 15px #212b35;
}

.stream {
  padding: 2rem 0;
}

.stream figure {
  width: 120px;
  height: auto;
  margin: 0;
}

.stream figure img {
  width: 100%;
  object-fit: contain;
  height: 100%;
}

.horizontal-scroll-active {
  display: flex; /* [1] */
  flex-wrap: nowrap !important; /* [1] */
  overflow-x: auto; /* [1] */
  -webkit-overflow-scrolling: touch; /* [4] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [5] */
}

.horizontal-scroll-active::-webkit-scrollbar {
  display: none;
}

.horizontal-scroll-active .item {
  flex: 0 0 auto;
  max-width: 100%;
}

.horizontal-scroll-active .heading-content-wrapper {
  max-width: 50%;
}

.horizontal-scroll-active .logo-grid-wrapper {
  max-width: 50%;
}

.horizontal-scroll-active .logo-grid-wrapper .row {
  flex-wrap: nowrap !important;
}

.logo-grid-wrapper .col-3 {
  width: 100%;
  max-width: 150px;
  flex: 0 0 150px;
}

.stream h2 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.features .text-content {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.features .col-wrapper figure {
  width: 120px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 100%;
}

.features .col-wrapper .icon-wrapper {
  padding-bottom: 2rem;
}

.features .col-wrapper figure img {
  width: 100%;
  object-fit: contain;
}

.features .col-wrapper .text-wrapper h3 {
  font-size: 1.3rem;
}

.features .col-lg-3 {
  margin-bottom: 2rem;
}

.features .icon-text-wrapper {
  background-color: #eee;
  padding: 2rem;
  border-radius: 4px;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.testi-content-wrapper .col-md-6 {
  margin-bottom: 2rem;
}

.everything .text-content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.two-col-wrapper figure img {
  object-fit: cover;
  height: 100%;
  max-height: 350px;
  box-shadow: 0 5px 20px rgba(105, 96, 96, 0.1);
  border-radius: 4px;
}

.two-col-wrapper .row {
  padding-bottom: 3rem;
}

.features-breakdown {
  text-align: left !important;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.features-breakdown p {
  padding: 1rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  color: $slate;
  background-color: #eee;
}

.gl-cta {
  background: #ffd89b; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffd89b, #19547b); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $armygreen, $slate); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Checkout */

/*.woocommerce .woocommerce-message, .woocommerce-page .woocommerce-message,
.woocommerce .woocommerce-error, .woocommerce-page .woocommerce-error,
.woocommerce-form-login-toggle,
.woocommerce-form-coupon-toggle {
	display: none;
}*/

.checkout-page .woocommerce-message {
  display: none;
}

.checkout_coupon button.button {
  background-color: $slate !important;
  color: #fff !important;
  height: auto !important;
  font-weight: 700;
  width: 100%;
}

.checkout_coupon .form-row-first,
.checkout_coupon .form-row-last {
  width: 100% !important;
  float: none !important;
}

.checkout-page h3#ship-to-different-address {
  color: $slate;
  font-size: 1.2rem;
}

.checkout-page h3#ship-to-different-address label {
  display: flex;
  align-items: center;
}

.checkout-page h3#ship-to-different-address label span {
  margin-left: 1rem;
}

.woocommerce .woocommerce-info,
.woocommerce-page .woocommerce-info {
  border-color: $slate !important;
}

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
  float: none;
  width: 100%;
  max-width: 100%;
  flex: 0 0 100% !important;
}

.woocommerce form .form-row {
  width: 100%;
}

span.woocommerce-input-wrapper {
  width: 100%;
}

p#billing_first_name_field,
p#billing_last_name_field {
  max-width: 50%;
  float: left;
}

/*p#billing_first_name_field span.woocommerce-input-wrapper {
	margin-right: 1rem;
}*/

form.checkout.woocommerce-checkout {
  background-color: #eee;
  padding: 0rem;
  border-radius: 5px;
}

.checkout-page .ui-card {
  padding: 2rem;
}

.checkout-page .ui-card figure {
  display: flex;
  height: 100px;
  justify-content: center;
}

.checkout-page .ui-card .bottom-content h3 {
  line-height: 1.5;
}

.checkout-page .ui-card .bottom-content {
  padding: 1.5rem;
}

.checkout-page .ui-card figure img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  align-self: center;
}

.woocommerce #payment ul.payment_methods li img,
.woocommerce-page #payment ul.payment_methods li img {
  width: 30px;
}

.wc-stripe-elements-field,
#add_payment_method #payment ul.payment_methods .stripe-card-group,
.woocommerce-checkout #payment ul.payment_methods .stripe-card-group {
  display: block;
  width: 100%;
}

.wc-stripe-elements-field {
  padding: 1rem;
  border-radius: 4px;
  border: none;
}

.woocommerce-checkout #payment div.payment_box .form-row {
  padding: 0;
}

.select2-container--default .select2-selection--single {
  padding: 0.5rem 0;
  height: auto;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  transform: translateY(-50%);
  top: 50%;
}

.checkout-page form.checkout.woocommerce-checkout {
  background-color: #f3f5fa;
}

.custom-lp-temp .section {
  padding: 5.3rem 0;
}

.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
  float: none;
  /* background-color: $slate !important;
    color: #fff;
    border-radius: 100px;
    padding: 1rem 1.5rem;
    font-weight: 900;
    border: 2px solid $slate;
    transition: 0.2s ease;
    border-radius: 100px !important; */
}

.checkout-page .woocommerce-billing-fields h3,
.checkout-page .woocommerce-additional-fields h3,
.checkout-page h3#order_review_heading {
  color: $slate;
}

.checkout-page .col-lg-4 .content-box {
  display: flex;
  flex-direction: column;
}

.checkout-page .col-lg-4 .content-box .ui-card {
  order: 2;
}

.checkout-page .col-lg-4 .content-box .woocommerce-form-coupon-toggle {
  order: 1;
  margin-top: 2.3rem;
}

@media (min-width: 768px) {
  // .checkout-page .woocommerce form .form-row {
  //   width: 100%;
  //   max-width: 48% !important;
  //   float: none !important;
  // }
  .dashboard .ui-card.content-card {
    padding: 2rem;
  }

  .checkout-page .woocommerce-billing-fields__field-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }

  .checkout-page .wc-credit-card-form .form-row.form-row-wide,
  .checkout-page .wc-credit-card-form .form-row.form-row-first,
  .checkout-page .wc-credit-card-form .form-row.form-row-last,
  .checkout-page #payment .form-row.place-order,
  .checkout-page #payment p.form-row.validate-required,
  .checkout-page p#billing_email_field,
  .checkout-page p#account_password_field,
  .checkout-page p#order_comments_field {
    max-width: 100% !important;
  }
}

/* Gated Dashboard */

/*Header */

header.dashboard-header {
  padding: 1.5rem 0;
  position: relative;
  top: 0;
  background-color: #fff;
  z-index: 999;
  width: 100%;
  box-shadow: 15px 5px 40px rgba(209, 213, 219, 0.15);
}
@media (min-width: 1200px) {
  header.dashboard-header {
    padding: 0;
    transition: 0.2s ease;
  }
}

header.dashboard-header .header-wrapper .drawer .drawer-inner ul li a.active {
  color: $slate !important;
}

header.dashboard-header .desktop-list-wrapper {
  display: none;
}
@media (min-width: 1200px) {
  header.dashboard-header .desktop-list-wrapper {
    display: block;
  }
  header.dashboard-header .desktop-list-wrapper ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  header.dashboard-header .desktop-list-wrapper ul li {
    padding: 0 0.5rem;
  }
  header.dashboard-header .desktop-list-wrapper ul li a {
    color: #29304c;
    font-weight: 500;
    font-size: 0.9rem;
  }
  header.dashboard-header .desktop-list-wrapper ul li.has-sub-navigation {
    position: relative;
  }
  header.dashboard-header .desktop-list-wrapper ul li.has-sub-navigation > ul {
    display: block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 2.4rem;
    background-color: #fff;
    padding: 1rem 0;
    width: 13.75em;
    text-align: left;
    background-clip: padding-box;
    transition: opacity 300ms;
    box-shadow: 15px 5px 51px rgba(209, 213, 219, 0.42);
    border-radius: 4px;
    border: 1px solid rgba(238, 238, 238, 0.45);
    transition: 0.2s ease;
    transition-delay: 0.2s;
  }
  header.dashboard-header .desktop-list-wrapper ul li.has-sub-navigation > ul:hover {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: 0.2s ease;
  }
  header.dashboard-header .desktop-list-wrapper ul li.has-sub-navigation > ul > li {
    padding: 0.75rem 0;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid rgba(238, 238, 238, 0.45);
    transition: 0.2s ease;
    border-left: 3px solid transparent;
  }
  header.dashboard-header .desktop-list-wrapper ul li.has-sub-navigation > ul > li:last-child {
    border-bottom: none;
  }
  header.dashboard-header .desktop-list-wrapper ul li.has-sub-navigation > ul > li:hover {
    background-color: #f4f6f8;
    transition: 0.2s ease;
    border-left-color: #32a9eb;
  }
  header.dashboard-header .desktop-list-wrapper ul li.has-sub-navigation > ul > li.has-sub-navigation {
    position: unset;
  }
  header.dashboard-header .desktop-list-wrapper ul li.has-sub-navigation > ul > li.has-sub-navigation > a {
    position: relative;
  }
  header.dashboard-header .desktop-list-wrapper ul li.has-sub-navigation > ul > li.has-sub-navigation > a:before {
    content: "\f054";
    position: absolute;
    top: 50%;
    right: -7rem;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 0.8rem;
  }
  header.dashboard-header .desktop-list-wrapper ul li.has-sub-navigation > ul > li > ul {
    display: block;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 13.6rem;
    border: none;
    box-shadow: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 100%;
    overflow-y: hidden;
    transition: 0.2s ease;
    background: transparent;
    box-shadow: 20px -9px 51px rgba(209, 213, 219, 0.42);
  }
  header.dashboard-header .desktop-list-wrapper ul li.has-sub-navigation > ul > li > ul:before {
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 80%;
    width: 1px;
    background: rgba(238, 238, 238, 0.45);
    position: absolute;
  }
  header.dashboard-header .desktop-list-wrapper ul li.has-sub-navigation > ul > li > ul:after {
    width: 0%;
    height: 100.5%;
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: -1;
    transition: 0.2s ease;
    transition-delay: 0.2s;
    border-bottom: 1px solid rgba(238, 238, 238, 0.45);
    box-shadow: 20px -9px 51px rgba(209, 213, 219, 0.42);
  }
  header.dashboard-header .desktop-list-wrapper ul li.has-sub-navigation > ul > li > ul:hover {
    width: 100%;
    visibility: visible;
    z-index: 2;
  }
  header.dashboard-header .desktop-list-wrapper ul li.has-sub-navigation > ul > li:hover ul {
    opacity: 1;
    transition: 0.2s ease;
    visibility: visible;
    z-index: 2;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  header.dashboard-header .desktop-list-wrapper ul li.has-sub-navigation > ul > li:hover ul:after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: -1;
    transition: 0.2s ease !important;
  }
  header.dashboard-header .desktop-list-wrapper ul li.has-sub-navigation:hover > ul {
    transition: 0.2s ease;
    opacity: 1;
    visibility: visible;
  }
}
@media (min-width: 1200px) and (min-width: 1350px) {
  header.dashboard-header .desktop-list-wrapper ul li {
    padding: 0 1rem;
  }
}
@media (min-width: 1200px) and (min-width: 1500px) {
  header.dashboard-header .desktop-list-wrapper ul li {
    padding: 0 1.5rem;
  }
}
@media (min-width: 1200px) and (min-width: 1350px) {
  header.dashboard-header .desktop-list-wrapper ul li a {
    font-size: 1rem;
  }
}
header.dashboard-header .desktop-shout-out-wrapper {
  display: none;
}
@media (min-width: 1200px) {
  header.dashboard-header .desktop-shout-out-wrapper {
    display: block;
  }
  header.dashboard-header .desktop-shout-out-wrapper ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    align-items: center;
  }
  header.dashboard-header .desktop-shout-out-wrapper ul li a {
    color: #29304c;
    font-weight: 500;
  }
  header.dashboard-header .desktop-shout-out-wrapper ul li.talk-cta {
    background: #ed374a;
    color: #fff;
    padding: 1.4rem 2rem;
    font-weight: bold;
    margin-left: 1.3rem;
  }
}
@media (min-width: 1200px) and (min-width: 1350px) {
  header.dashboard-header .desktop-shout-out-wrapper ul li.talk-cta {
    margin-left: 2rem;
  }
}
header.dashboard-header .page-tint {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: visibility 0.4s linear, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  content: "";
  z-index: 999;
}
header.dashboard-header .header-wrapper {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1200px) {
  header.dashboard-header .header-wrapper {
    padding-right: 0;
  }
}
header.dashboard-header .header-wrapper .logo-box img {
  width: auto;
  height: 35px;
  // filter: invert(100%);
  // -webkit-filter: invert(100%);
}
@media (min-width: 1200px) {
  header.dashboard-header .header-wrapper .logo-box img {
    padding: 0.3rem;
  }
}
header.dashboard-header .header-wrapper .drawer {
  display: block;
  pointer-events: none;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 1000;
  top: 0;
  bottom: 0;
  width: 18.75em;
  max-width: 100%;
  transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;
  right: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
header.dashboard-header .header-wrapper .drawer::-webkit-scrollbar {
  display: none;
}
header.dashboard-header .header-wrapper .drawer .drawer-inner {
  padding-right: 1.87rem;
  padding-bottom: 1.87rem;
  padding-left: 1.87rem;
}
header.dashboard-header .header-wrapper .drawer .drawer-inner .drawer-logo-wrapper {
  padding: 1.3rem 0;
  text-align: center;
}
header.dashboard-header .header-wrapper .drawer .drawer-inner .drawer-logo-wrapper img {
  width: auto;
  height: 2.5rem;
  // filter: invert(100%);
  // -webkit-filter: invert;
}
header.dashboard-header .header-wrapper .drawer .drawer-inner ul {
  padding: 0;
  list-style: none;
}
header.dashboard-header .header-wrapper .drawer .drawer-inner ul:nth-child(1) {
  padding-top: 1rem;
  border-top: 1px solid #dfe3e8;
}
header.dashboard-header .header-wrapper .drawer .drawer-inner ul li {
  padding: 1rem 0;
  font-weight: bold;
  text-decoration: none;
  color: #29304c;
  font-weight: 700;
  position: relative;
}

header.dashboard-header .flex-icon {
  display: flex;
  align-items: center;
}

header.dashboard-header .flex-icon i {
  margin-right: 0.8rem;
  color: $slate;
}

/*header.dashboard-header .header-wrapper .drawer .drawer-inner ul > li:after {
    width: 20px;
    height: 20px;
    background-size: contain;
    left: -2rem;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    content: '\f44b';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}*/

header.dashboard-header .header-wrapper .drawer .drawer-inner ul li a {
  color: #29304c;
}
header.dashboard-header .header-wrapper .drawer .drawer-inner ul li.has-sub-navigation {
  position: relative;
}
header.dashboard-header .header-wrapper .drawer .drawer-inner ul li.has-sub-navigation:before {
  position: absolute;
  top: 25px;
  right: 0;
  transform: translateY(-50%);
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: $slate;
  font-size: 1.2rem;
  /*  pointer-events: all;*/
}
header.dashboard-header .header-wrapper .drawer .drawer-inner ul li.has-sub-navigation.show-my-children:before {
  content: "\f106";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
header.dashboard-header .header-wrapper .drawer .drawer-inner ul li.has-sub-navigation ul {
  padding-left: 1.06rem;
  border-left: 1px solid #dfe3e8;
  margin-top: 1rem;
  display: none;
  margin-left: 0.75rem;
}

header.dashboard-header .fas.fa-utensils,
header.dashboard-header i.fas.fa-running {
  margin-right: 1.1rem;
  font-size: 1.2rem;
}

header.dashboard-header i.fas.fa-running {
  margin-right: 0.8rem;
}

header.dashboard-header .header-wrapper .drawer .drawer-inner .shout-out-wrapper {
  text-align: center;
}
header.dashboard-header .header-wrapper .drawer .drawer-inner .shout-out-wrapper .talk-cta {
  background: #ed374a;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  margin-top: 1rem;
  box-shadow: 15px 5px 51px rgba(209, 213, 219, 0.6);
  transition: 0.2s ease;
}
header.dashboard-header .header-wrapper .drawer .drawer-inner .shout-out-wrapper .talk-cta:hover {
  transition: 0.2s ease;
  box-shadow: 15px 5px 51px rgba(209, 213, 219, 0.8);
}
header.dashboard-header .header-wrapper.drawer-open .page-tint {
  visibility: visible;
  opacity: 1;
}
header.dashboard-header .header-wrapper.drawer-open .drawer {
  pointer-events: all;
  transform: translateX(0);
}
header.dashboard-header .header-wrapper.drawer-open .d-btn {
  position: absolute;
  right: 15px;
}
header.dashboard-header .header-wrapper .site-menu-toggle {
  display: block;
  transform: none;
  position: relative;
  width: 24px;
  height: 18px;
}
header.dashboard-header .header-wrapper .site-menu-toggle.is-active .hamburger-line--top {
  transform: translateX(-50%) rotate(45deg);
  top: 5px;
}
header.dashboard-header .header-wrapper .site-menu-toggle.is-active .hamburger-line--middle {
  opacity: 0;
}
header.dashboard-header .header-wrapper .site-menu-toggle.is-active .hamburger-line--bottom {
  transform: translateX(-50%) rotate(-45deg);
  top: 5px;
}
header.dashboard-header .header-wrapper .hamburger-line {
  display: block;
  width: 25px;
  height: 4px;
  background-color: $slate;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  transform-origin: 50% 50%;
  margin-top: -1px;
  transition: all 200ms ease;
}
header.dashboard-header .header-wrapper .hamburger-line--top {
  top: 0;
}
header.dashboard-header .header-wrapper .hamburger-line--middle {
  top: 50%;
}
header.dashboard-header .header-wrapper .hamburger-line--bottom {
  top: 100%;
}
header.dashboard-header .header-wrapper .d-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media (min-width: 1200px) {
  header.dashboard-header .header-wrapper .d-wrapper {
    display: none;
  }
}
header.dashboard-header .header-wrapper .d-btn {
  outline: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 1001;
}

.custom-lp-temp .header-wrapper.container {
  overflow: visible;
}

.dashboard .section {
  padding: 2rem 0;
}

.dashboard h1 {
  text-transform: none;
}

.dashboard h2,
.dashboard h3,
.dashboard h4,
.dashboard h5 {
  text-transform: none;
}

.dashboard .ui-card h2 {
  font-size: 2rem;
}

.dashboard .ui-card .content-box {
  padding: 2rem 1rem;
}

.dashboard .ui-card {
  height: 100%;
}

.dashboard-main {
  width: 100%;
}

.hide-below-1200 {
  display: none;
}

.dashboard ul li a:hover {
  text-decoration: none;
  color: $armygreen;
  transition: 0.1s ease;
}

header.dashboard-header .header-wrapper .drawer .drawer-inner ul li a:hover {
  color: $armygreen;
}

.dashboard-main.workouts-overview .ui-card {
  box-shadow: 0 0 8px 0 rgb(101 115 156 / 30%) !important;
}

.ui-card.clickable {
  cursor: pointer !important;
}

.ui-card.clickable p.text-green {
  font-weight: 700;
}

.dashboard-main.workouts-overview .ui-card figure img {
  object-position: 50% 25%;
}

.custom-lp-temp.dashboard .pagination {
  justify-content: center;
}

.custom-lp-temp.dashboard a.prev.page-numbers,
.custom-lp-temp.dashboard a.page-numbers {
  color: $slate;
  font-weight: 700;
  text-decoration: none;
}

.custom-lp-temp.dashboard span.page-numbers.current {
  font-weight: 700;
  text-decoration: none;
  color: $armygreen;
}

.custom-lp-temp.dashboard .page-numbers {
  padding-right: 1rem;
}

/* Single Template */

.single-wrapper h1 {
  font-size: 2rem;
}

.skuq-ml-j0xb.featured-image-wrapper {
  margin: 2rem 0;
}

.single-wrapper {
  padding: 1rem 0;
}

.content-wrapper p,
.content-wrapper ul li,
.content-wrapper ol li {
  line-height: 1.77;
}

.single-wrapper img,
.single-wrapper iframe {
  box-shadow: 0 5px 20px rgba(105, 96, 96, 0.1);
  border-radius: 4px;
}

.single-wrapper .date {
  font-weight: 700;
}

.content-wrapper img {
  max-height: 600px !important;
  width: auto !important;
  max-width: 100% !important;
}

.single-wrapper .title-wrapper h2,
.single-wrapper .content-wrapper h2,
.single-wrapper .content-wrapper h3,
.single-wrapper .content-wrapper h4,
.single-wrapper .content-wrapper h5,
.single-wrapper .content-wrapper h6,
.single-wrapper .content-wrapper h1 {
  color: $slate;
}
.single-wrapper .title-wrapper h2 {
  font-size: 1.8rem;
}

.single-wrapper .content-wrapper h1,
.single-wrapper .content-wrapper h2,
.single-wrapper .content-wrapper h3,
.single-wrapper .content-wrapper h4,
.single-wrapper .content-wrapper h5,
.single-wrapper .content-wrapper h6 {
  margin: 1.5rem 0 0.8rem 0;
}

.dashboard-main.workouts-single .video-library figure {
  margin-bottom: 0;
  position: relative;
  cursor: pointer;
  transition: 0.2s ease;
}

.dashboard-main.workouts-single .video-library {
  padding-bottom: 1rem;
}

.dashboard-main.workouts-single .video-library .fader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), color-stop(35%, transparent), to(rgba(20, 20, 20, 0.8)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, transparent 0%, rgba(20, 20, 20, 1) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%, transparent 0%, rgba(20, 20, 20, 1) 100%);
  border-radius: 4px;
}

.dashboard-main.workouts-single .video-library i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4.5rem;
  color: #fff;
  transition: 0.2s ease;
  transform: translate(-50%, -50%);
}

.dashboard-main.workouts-single .video-library img {
  border-radius: 5px;
  max-height: 350px;
  object-fit: cover;
}

.dashboard-main.workouts-single .video-library figure:hover {
  transform: translateY(5px);
  transition: 0.2s ease;
}

.dashboard-main.workouts-single .video-library figure:hover i {
  color: #e49cfd;
  transition: 0.2s ease;
}

button:focus {
  outline: none;
  cursor: pointer;
}

.single-stretching .modal-video-body {
  max-width: 90%;
}

.single-stretching .modal-video-close-btn {
  top: -50px;
  right: -15px;
}

.single-stretching .modal-video-close-btn:before,
.single-stretching .modal-video-close-btn:after {
  height: 4px;
  width: 65%;
}

.single-stretching .modal-video {
  background-color: rgba(0, 0, 0, 0.8);
}

.single-stretching .modal-video-movie-wrap iframe,
.single-stretching .modal-video-movie-wrap {
  border-radius: 6px;
}

.workouts-single .single-wrapper .featured-video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.workouts-single .single-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100% !important;
}

@media (min-width: 576px) {
  header.dashboard-header .header-wrapper .drawer .drawer-inner {
    padding-top: 3.5rem;
  }
}

@media (min-width: 768px) {
  form.checkout.woocommerce-checkout {
    padding: 2rem;
  }

  .dashboard-main.workouts-single .video-library h2 {
    margin-top: 0;
  }

  .dashboard .workout-cards .ui-card figure {
    height: 350px;
  }

  .single-stretching .modal-video-body {
    max-width: 940px;
  }
}

@media (min-width: 992px) {
  .horizontal-scroll-active .item {
    max-width: 40%;
  }

  .dashboard-main.workouts-single .video-library {
    padding: 2.3rem 0;
  }

  .dashboard-main.workouts-overview .ui-card figure {
    height: 400px;
    object-position: 50% 25%;
  }

  .dashboard-main.workouts-overview.stretching-overview .ui-card figure {
    height: 300px;
  }

  .dashboard-main.workouts-overview.stretching-overview .col-md-12 .ui-card figure {
    height: 450px;
  }

  .dashboard-main.workouts-overview .col-lg-12 .ui-card figure {
    height: 340px;
  }

  .checkout-page .col-lg-4 .content-box {
    display: block;
  }

  .checkout-page .col-lg-4 .content-box .woocommerce-form-coupon-toggle {
    margin-top: 0;
  }

  .page-template-custom-checkout-template .container {
    overflow: unset !important;
  }

  .page-template-custom-checkout-template .col-lg-4 .content-box {
    position: sticky;
    position: -webkit-sticky;
    top: 4rem;
    bottom: 2rem;
  }

  .stream h2 {
    font-size: 2rem;
  }

  .testi-content-wrapper .col-md-6 {
    margin-bottom: 0;
  }

  .two-col-wrapper .text-content {
    padding: 0 1.5rem;
  }

  .two-col-wrapper figure img {
    height: 500px;
    max-height: 500px;
  }

  .custom-lp-temp h1 {
    font-size: 4rem;
  }

  .gl-cta h2 {
    font-size: 3.5rem;
  }

  .custom-lp-temp .section {
    padding: 5.3rem 0;
  }

  .dashboard .section {
    padding: 2rem 0;
  }

  .dashboard h1 {
    font-size: 3rem;
  }

  .dashboard .ui-card .remove-constraint.bottom-content {
    max-width: 100%;
  }

  .week-overview .bottom-content p,
  .week-overview .bottom-content ul li,
  .week-overview .bottom-content ol li {
    text-align: left;
    line-height: 1.8;
  }

  .week-overview .bottom-content h2 {
    font-size: 2.2rem;
  }

  .clickable:hover {
    transition: 0.2s ease;
    cursor: pointer;
    transform: translateY(5px);
  }

  .clickable {
    transition: 0.2s ease;
  }
}

@media (min-width: 1200px) {
  header.dashboard-header .header-wrapper .drawer .drawer-inner ul li.has-sub-navigation ul li {
    padding-left: 2.3rem;
  }

  .workouts-single .single-wrapper {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.05);
    padding: 5rem 3rem;
    position: relative;
  }

  .single-stretching .workouts-single .single-wrapper {
    padding: 7rem 3rem;
  }

  .single-stretching .dashboard-main.workouts-single .video-library figure {
    height: 300px;
  }

  .workouts-single .single-wrapper .back-arrow {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }

  .workouts-single .single-wrapper .back-arrow i {
    color: $slate;
    font-size: 1.5rem;
    transition: 0.2s ease;
  }

  .workouts-single .single-wrapper .back-arrow:hover i {
    color: $armygreen;
    transition: 0.2s ease;
  }

  .workouts-single .content-wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .workouts-single .single-wrapper img,
  .workouts-single .single-wrapper iframe {
    box-shadow: 0 5px 20px rgba(105, 96, 96, 0.1);
    border-radius: 4px;
    max-height: 500px;
    object-fit: cover;
    object-position: center 25%;
  }

  .dashboard-main.workouts-overview .ui-card figure {
    height: 460px;
  }

  .dashboard-main.workouts-overview .col-lg-12 .ui-card figure {
    height: 420px;
  }

  .hide-after-1200 {
    display: none !important;
  }

  header.dashboard-header .header-wrapper .drawer {
    left: 0;
    transform: translateX(0%);
  }

  .dashboard .larger-wrapper {
    display: flex;
  }

  .dashboard header.dashboard-header {
    max-width: 18.75em;
    overflow-x: hidden;
    height: 100vh;
    overflow-y: scroll;
  }

  .dashboard .section {
    height: 100vh;
    overflow-y: scroll;
    background-color: #f3f5fa;
    padding-top: 0;
  }

  .dashboard .section .panels-parent {
    padding: 3rem 1rem;
  }

  .dashboard .ui-card {
    background-color: #fff !important;
  }

  header.dashboard-header .header-wrapper .drawer {
    pointer-events: all;
    background: transparent;
  }

  header.dashboard-header .header-wrapper .drawer .drawer-inner {
    padding: 0;
  }
  .dashboard header.dashboard-header {
    background-color: #1b1f34;
  }

  header.dashboard-header .header-wrapper .drawer .drawer-inner .drawer-logo-wrapper img {
    filter: invert(0);
  }

  header.dashboard-header .header-wrapper .drawer .drawer-inner ul:nth-child(1) {
    margin: 0;
    border: none;
  }

  header.dashboard-header .header-wrapper .drawer .drawer-inner ul li a {
    color: #cdced6;
    &.no-hover-color {
      &:hover {
        color: #cdced6;
      }
    }
  }

  header.dashboard-header .header-wrapper .drawer .drawer-inner ul:nth-child(1) {
    padding-top: 0;
  }

  header.dashboard-header .header-wrapper .drawer .drawer-inner ul li {
    padding: 1.5rem 1.3rem;
  }

  header.dashboard-header .header-wrapper .drawer .drawer-inner ul li {
    border-bottom: 1px solid;
  }

  header.dashboard-header .header-wrapper .drawer .drawer-inner .drawer-logo-wrapper {
    text-align: left;
    background-color: transparent;
    padding: 1rem 1.3rem;
    border-bottom: 1px solid #29304c;
  }

  header.dashboard-header .header-wrapper .drawer .drawer-inner ul li {
    text-align: left;
  }

  header.dashboard-header .header-wrapper .drawer .drawer-inner ul:nth-child(1) {
    padding-top: 0;
  }

  header.dashboard-header .header-wrapper .drawer .drawer-inner .shout-out-wrapper ul {
    padding-top: 0 !important;
  }

  header.dashboard-header .header-wrapper .drawer .drawer-inner ul li.has-sub-navigation ul {
    background-color: transparent;
    padding: 0;
    border-left: 0;
  }

  header.dashboard-header .header-wrapper .drawer .drawer-inner .drawer-logo-wrapper img {
    height: 2rem;
  }

  .app-header,
  .app-footer {
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.05);
    padding: 1.7rem 1.1rem;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
  }
  .dashboard .app-header {
    padding: 1.35rem 1.1rem;
  }

  .dashboard .app-footer h6 {
    margin-bottom: 0;
    font-size: 0.8rem;
    color: silver;
    // font-family: "Roboto", sans-serif;
    font-weight: 200;
    text-transform: none;
  }

  .dashboard .app-footer {
    padding: 0.7rem 0;
    box-shadow: none;
  }

  .dashboard .dashboard-main .section {
    padding-bottom: 0;
  }

  .dashboard .ui-card {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.05);
  }

  .app-header .hamburger-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0.3rem 0;
  }

  .app-header .d-btn {
    display: block;
    transform: none;
    position: relative;
    width: 21px;
    height: 14px;
    outline: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    z-index: 1001;
  }

  .app-header .hamburger-line {
    display: block;
    width: 25px;
    height: 2px;
    background-color: $slate;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    transform-origin: 50% 50%;
    margin-top: -1px;
    transition: all 200ms ease;
  }

  .app-header .hamburger-line--top {
    top: 0;
  }

  .app-header .hamburger-line--middle {
    top: 50%;
  }

  .app-header .hamburger-line--bottom {
    top: 100%;
  }

  .app-header .app-header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .lose-width {
    max-width: 0 !important;
    transition: 0.3s ease;
  }

  header.dashboard-header .header-wrapper .drawer {
    transition: 0.2s ease;
    position: relative;
    width: 100%;
    min-width: 17em;
  }

  header.dashboard-header .header-wrapper .drawer.lose-width {
    transition-delay: 0.2s;
  }

  #app-header-toggler button:focus {
    border: none;
    outline: none;
  }

  .app-header ul li a {
    color: $slate;
    font-weight: 600;
  }

  .app-header ul {
    margin-bottom: 0;
  }

  .app-header .custom-permalinks ul {
    display: flex;
  }

  .app-header .custom-permalinks ul li {
    margin: 0 0.3rem 0 2rem;
  }

  .hide-below-1200 {
    display: block;
  }

  header.dashboard-header .header-wrapper .drawer .drawer-inner ul li.has-sub-navigation:before {
    color: $slate;
    right: 1.5rem;
    top: 34px;
  }

  header.dashboard-header .header-wrapper .drawer .drawer-inner ul li.has-sub-navigation ul li:last-child {
    border-bottom: none;
  }

  header.dashboard-header .header-wrapper .drawer .drawer-inner ul li.has-sub-navigation ul {
    margin-left: 0;
  }
}

@media (min-width: 1400px) {
  .dashboard .workout-cards .ui-card figure {
    height: 500px;
  }

  .single-stretching .dashboard-main.workouts-single .video-library figure {
    height: auto;
  }

  .single-workout .xmlsma--sx {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .workouts-single .single-wrapper {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }

  .dashboard .ui-card figure {
    height: 300px;
  }

  .dashboard .ui-card .bottom-content {
    max-width: 800px;
  }

  .workouts-single .single-wrapper .back-arrow {
    top: 3rem;
    left: 3rem;
  }

  .panels-parent .container {
    overflow: visible;
  }

  .dashboard .container {
    max-width: 100% !important;
  }
}

@media (min-width: 1650px) {
  .dashboard-main.workouts-overview.stretching-overview .ui-card figure {
    height: 500px;
  }

  .dashboard-main.workouts-overview.stretching-overview .col-md-12 .ui-card figure {
    height: 650px;
  }

  /*  .dashboard-main.workouts-overview.stretching-overview .ui-card h2 {
    font-size: 2.2rem;
  }*/

  .dashboard-main.workouts-overview .ui-card .bottom-content {
    padding: 2rem;
  }

  .dashboard-main.workouts-overview .ui-card h2 {
    font-size: 2rem;
  }
}

/* Bug Fixes */

.page-template-custom-lp-template .custom-lp-temp p,
.page-template-custom-lp-template .custom-lp-temp ul li,
.page-template-custom-lp-template .custom-lp-temp ol li {
  line-height: 1.6;
}

.page-template-custom-lp-template .custom-lp-temp .horizontal-scroll-active {
  overflow-y: hidden;
}

@media (max-width: 768px) {
  .page-template-custom-lp-template .custom-lp-temp .section {
    padding: 4rem 0;
  }

  .page-template-custom-lp-template .custom-lp-temp .testi-content-wrapper .col-md-6:last-child {
    margin-bottom: 0;
  }

  .page-template-custom-lp-template .custom-lp-temp h2,
  .page-template-custom-lp-template .custom-lp-temp h3,
  .page-template-custom-lp-template .custom-lp-temp h4,
  .page-template-custom-lp-template .custom-lp-temp h5,
  .page-template-custom-lp-template .custom-lp-temp h6 {
    line-height: 1.3;
    margin-bottom: 1rem;
  }

  .page-template-custom-lp-template .custom-lp-temp button.btn {
    margin-top: 0.6rem;
  }
}

@media (max-width: 992px) {
  .checkout-page .col-lg-4 .content-box {
    padding-top: 3.5rem;
  }

  .checkout-page .col-lg-4 .content-box .woocommerce-form-coupon-toggle,
  form.checkout_coupon.woocommerce-form-coupon,
  form.woocommerce-form.woocommerce-form-login.login {
    margin-top: 0;
  }

  .checkout-page .col-lg-4 .content-box .woocommerce-form-coupon-toggle {
    order: 0;
  }
}

@media (max-width: 350px) {
  .page-template-custom-lp-template .custom-lp-temp .custom-lp-temp .h2,
  .custom-lp-temp h2 {
    font-size: 1.7rem;
  }

  .woocommerce table.shop_table {
    display: block;
    overflow: hidden;
  }
}

.page-template-custom-checkout-template h3#order_review_heading {
  padding-right: 15px;
  padding-left: 15px;
}

.page-template-custom-checkout-template div#order_review {
  padding-right: 15px;
  padding-left: 15px;
}

.dashboard-main p,
.dashboard-main ul li,
.dashboard-main ol li {
  line-height: 1.7;
}

/* Sort Feature */

.sort-list {
  display: flex;
  flex-wrap: wrap;
}

.sort-list a {
  text-decoration: none !important;
  color: #fff !important;
}

.sort-list li {
  margin-right: 0.5rem;
  background-color: $slate;
  color: #fff !important;
  border-radius: 100px;
  padding: 0.2rem 1rem;
  font-size: 0.8rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.sort-list li:hover {
  background-color: $armygreen;
  transition: 0.2s ease;
}

.page-template-custom-lp-template .ui-card {
  height: 100%;
}

// New Additions

.testimonial-video {
  &__iframe-wrapper {
    iframe {
      width: 100%;
      height: 300px;
      border-radius: 4px;
      @media (min-width: 768px) {
        height: 400px;
      }
    }
  }
  &__iphone-wrapper {
    figure {
      margin: 0;
    }
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      object-fit: contain;
    }
  }
}

.faq-section {
  .faq-list {
    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      .faq-box-column {
        width: 100%;
        max-width: 50%;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
  .faq-box-column {
    margin-bottom: 1.5rem;
  }
}

.faq-box {
  //   border: 1px solid $slate42;
  border-radius: 5px;
  background-color: #fff;
  //   height: 100%;
  &__top {
    padding: 1rem 1rem 1rem 1rem;
    &:hover {
      cursor: pointer;
    }
    &__content-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .toggler {
      -webkit-transition: -webkit-transform 0.25s;
      transition: -webkit-transform 0.25s;
      transition: transform 0.25s;
      transition: transform 0.25s, -webkit-transform 0.25s;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      display: block;
      cursor: pointer;
      position: relative;
      background-color: #eaf4f7;
      &:before {
        content: "";
        left: 50%;
        top: 50%;
        width: 2px;
        height: 50%;
        background-color: $slate;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
      }
      &:after {
        content: "";
        left: 50%;
        top: 50%;
        height: 2px;
        width: 50%;
        background-color: $slate;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
      }
    }
    &.open {
      .toggler {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
  &__bottom {
    padding: 1rem;
    border-radius: 5px;
    background-color: #fff;
    padding-top: 0.5rem;
  }
  h3 {
    text-transform: none;
    color: $slate;
    font-size: 1.3rem;
    margin-bottom: 0 !important;
    max-width: 90%;
    padding-right: 0.5rem;
  }
}

/*------------*\
   #IPHONE X
\*------------*/

.iphone-model {
  .px {
    position: relative;
    //   padding: 6% 7%;
    padding: 1% 7%;
  }

  .px--ls {
    padding: 3.3% 3%;
  }

  .px__body {
    position: absolute;
    top: 0;
    right: 1%;
    bottom: 0;
    left: 1%;
    background: linear-gradient(to top, #e5e5e5 0%, #f7f7f9 10%, #eeeef0 90%);
    border-radius: 14%/7%;
    box-shadow: inset 0 0 3px 1px #fff;
  }

  .px--ls > .px__body {
    top: 1%;
    right: 0;
    bottom: 1%;
    left: 0;
    border-radius: 7%/14%;
  }

  .px__body:before {
    content: "";
    position: absolute;
    top: 0.7%;
    right: 1.4%;
    bottom: 0.7%;
    left: 1.4%;
    background-color: #fff;
    border-radius: 13%/7%;
    box-shadow: 0 0 3px #fff;
  }

  .px--ls > .px__body:before {
    top: 1.4%;
    right: 0.7%;
    bottom: 1.4%;
    left: 0.7%;
    border-radius: 7%/13%;
  }

  .px__body:after {
    content: "";
    position: absolute;
    top: 1%;
    right: 2.3%;
    bottom: 1%;
    left: 2.3%;
    background-color: #fff;
    box-shadow: inset 0 0 10px 2px #fff;
    border-radius: 13%/6.5%;
  }

  .px--ls > .px__body:after {
    top: 2.3%;
    right: 1%;
    bottom: 2.3%;
    left: 1%;
    border-radius: 6.5%/13%;
  }

  .px__body__cut {
    position: absolute;
    z-index: 2;
    top: 3%;
    left: 50%;
    width: 50%;
    height: 3.5%;
    background-color: #fff;
    border-radius: 0 0 10% 10%/80%;
    transform: translate3d(-50%, 0, 0);
  }

  .px--ls .px__body__cut {
    top: 50%;
    left: 3%;
    width: 3.5%;
    height: 50%;
    border-radius: 0 80% 80% 0/10%;
    transform: translate3d(0, -50%, 0);
  }

  .px__body__speaker,
  .px__body__camera,
  .px__body__sensor {
    position: absolute;
    z-index: 2;
    background-color: #eeeef2;
    transform: translate(-50%, -50%);
  }

  .px__body__speaker {
    top: 4%;
    left: 50%;
    width: 12%;
    height: 0.8%;
    border-radius: 5px;
  }

  .px--ls .px__body__speaker {
    top: 50%;
    left: 4%;
    width: 0.8%;
    height: 12%;
  }

  .px__body__camera {
    top: 4%;
    left: 36%;
    width: 3.5%;
    height: 1.7%;
    border-radius: 50%;
    box-shadow: inset 0 0 2px 1px #fff;
  }

  .px--ls .px__body__camera {
    top: 64%;
    left: 4%;
    width: 1.7%;
    height: 3.5%;
  }

  .px__body__sensor {
    top: 4%;
    left: 61%;
    width: 2.2%;
    height: 1.1%;
    border-radius: 50%;
    background-color: #eeeef2;
    box-shadow: inset 0 0 2px 1px #fff;
  }

  .px--ls .px__body__sensor {
    top: 39%;
    left: 4%;
    width: 1.1%;
    height: 2.2%;
  }

  .px__body__mute,
  .px__body__up,
  .px__body__down,
  .px__body__right {
    position: absolute;
    background-color: #fff;
    transform: translate(0, -50%);
  }

  .px--ls .px__body__mute,
  .px--ls .px__body__up,
  .px--ls .px__body__down,
  .px--ls .px__body__right {
    transform: translate(-50%, 0);
  }

  .px--ls .px__body__right {
    background-color: #fff;
  }

  .px__body__mute {
    top: 14.7%;
    left: -0.7%;
    width: 0.7%;
    height: 4%;
    border-radius: 1px 0 0 1px;
  }

  .px--ls .px__body__mute {
    top: auto;
    left: 14.7%;
    bottom: -0.7%;
    width: 4%;
    height: 0.7%;
    border-radius: 0 0 1px 1px;
  }

  .px__body__up,
  .px__body__down {
    left: -1%;
    width: 1%;
    height: 7.5%;
    border-radius: 2px 0 0 2px;
  }

  .px--ls .px__body__up,
  .px--ls .px__body__down {
    bottom: -1%;
    width: 7.5%;
    height: 1%;
    border-radius: 0 0 2px 2px;
  }

  .px__body__up {
    top: 25%;
  }

  .px--ls .px__body__up {
    top: auto;
    left: 25%;
  }

  .px__body__down {
    top: 34%;
  }

  .px--ls .px__body__down {
    top: auto;
    left: 34%;
  }

  .px__body__right {
    top: 25%;
    right: -1%;
    width: 1%;
    height: 7.5%;
    border-radius: 0 2px 2px 0;
  }

  .px--ls .px__body__right {
    top: -1%;
    right: auto;
    left: 25%;
    width: 7.5%;
    height: 1%;
    border-radius: 2px 2px 0 0;
  }

  .px__screen {
    position: relative;
    z-index: 1;
  }

  .px__screen__ {
    position: relative;
    padding-bottom: 218%;
    background-color: #eeeef2;
    border-radius: 10%/5%;
    box-shadow: 0 0 10px #fff;
  }

  .px--ls .px__screen__ {
    padding-bottom: 46%;
    border-radius: 5%/10%;
  }

  .px__screen__frame {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    border-radius: inherit;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    background-color: #fff;
  }

  .px__screen__frame > .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 5em;
    transform: translate(-50%, -50%);
  }

  .px__screen__frame video {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    position: absolute;
    left: 47%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.1);
  }

  .temp-wrapper {
    max-width: 300px;
    margin: 0 auto;
  }

  @media (min-width: 992px) {
    .temp-wrapper {
      max-width: 350px;
      margin: 0 auto;
    }
    .px__body {
      background: #fff;
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.03);
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.03);
    }
  }
}

.skuq-ml-j0xb h2 {
  color: $slate !important;
}

.recipes-categories-content-box .fa-arrow-circle-left {
  color: $slate;
  &:hover {
    color: $armygreen;
  }
}

.week-overview iframe {
  max-width: 100%;
}

.app-footer {
  background-color: #fff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.05);
  padding: 1.7rem 1.1rem;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 0.7rem 0;
}

.mobile--footer h6 {
  margin-bottom: 0;
  font-size: 0.8rem;
  color: silver;
  font-family: Roboto, sans-serif;
  font-weight: 200;
  text-transform: none;
}

@media (min-width: 1200px) {
  .mobile--footer {
    display: none;
  }
}

@media (min-width: 1200px) {
  .dashboard .section .panels-parent {
    min-height: 100vh;
  }
}

// 2021

.dashboard {
  font-family: "nunito", sans-serif;
  header {
    font-weight: 600;
  }
  main {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "nunito", sans-serif;
      font-weight: 900;
    }
    .font-fancy {
      font-family: "playlistscript", sans-serif;
    }
    a {
      color: $armygreen;
      font-weight: 600;
      &:hover {
        color: $armygreen;
      }
    }
  }
  .col-lg-4 {
    .ui-card {
      h2 {
        @media (min-width: 992px) {
          font-size: 1.5rem;
        }
      }
    }
  }
}

.app-header {
  @media (min-width: 1200px) {
    position: relative;
  }
  .current-plan {
    @media (min-width: 1200px) {
      position: absolute;
      bottom: -11px;
      left: 29px;
      background-color: $slate;
      border-radius: 4px;
      color: #fff;
      font-weight: 900;
      font-size: 0.8rem;
      border: 1px solid #eee;
      cursor: pointer;
    }
    a {
      @media (min-width: 1200px) {
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        padding: 0.25rem 0.75rem;
        display: block;
        &:hover {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
}

.upgrade-cta-nav {
  background-color: $slate;
  color: #fff;
  padding: 0.1rem 0.9rem;
  border-radius: 3px;
  font-size: 0.8rem;
  margin-left: 0.5rem;
  position: relative;
  top: -1px;
}

.long-content-form {
  background-color: #fff;
  padding: 1rem;
  @media (min-width: 768px) {
    padding: 2rem;
  }
  border-radius: 4px;
  border: 2px solid #eee;
  h2 {
    font-size: 1.25rem;
    color: $slate;
  }
  .wpcf7-radio {
    display: flex;
    .wpcf7-list-item {
      margin-right: 0.85rem;
      span {
        margin-left: 0.25rem;
        font-weight: 900;
        color: $slate;
      }
    }
  }
  textarea {
    width: 100%;
    border: none;
    border: 2px solid #eee;
    border-radius: 4px;
    padding: 0.5rem;
    height: 80px;
    color: $dark;
    font-weight: 900;
  }
  .btn {
    font-weight: 900;
    background-color: $armygreen;
    color: #fff;
    padding-left: 3rem;
    padding-right: 3rem;
    &:focus {
      outline: none;
      box-shadow: none;
    }
    &:hover {
      background-color: $slate;
    }
  }
  span.wpcf7-not-valid-tip {
    font-weight: 600;
    color: #cc5015;
  }
  .wpcf7-response-output {
    font-weight: 900;
    color: $slate;
  }
  .screen-reader-response {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  .sent {
    .wpcf7-response-output {
      background-color: $armygreen;
      color: #fff;
      padding: 1rem;
      border-radius: 4px;
      border: none;
    }
  }
  .wpcf7 form.invalid .wpcf7-response-output,
  .wpcf7 form.unaccepted .wpcf7-response-output {
    background-color: #d05e2b;
    padding: 1rem;
    color: #fff;
    border: none;
    border-radius: 4px;
  }
}
