.footer{
    margin-top: 40px;
    padding: 0 10px;
    @include media-breakpoint-up(lg) {
        margin-top: 110px;
    }
    &__logo{
        padding: 22px 0;
        border-bottom: 1px solid $light-nevyblue;
        text-align: center;
        @include media-breakpoint-up(sm) {
            text-align: left;
        }
        img{
            margin: 0 auto;
            @include media-breakpoint-up(sm) {
                margin: 0;
            }
        }
    }
    &__column{
        padding: 35px 0 35px;
        display: flex;
        flex-wrap: wrap;
    }
    &__title{
        color: $light-nevyblue; 
        margin-bottom: 15px;
        font-weight: 600;
    }
    &__image{
        text-align: center;
        @include media-breakpoint-up(sm) {
            text-align: left;
        }
        img{
            margin: 0 auto;
            @include media-breakpoint-up(sm) {
                margin: 0;
            }
        }
    }
    &__link{
        padding-left: 0;
        flex: 50% 0 0;
        margin-bottom: 15px;
        text-align: center;
        @include media-breakpoint-up(sm) {
            flex: 50% 0 0;
            text-align: left;
        }
        @include media-breakpoint-up(md) {
            flex: 50% 0 0;
            margin-bottom: 0px;
        }
        @include media-breakpoint-up(lg) {
            padding-right: 8px;
            flex: 1 0 0;
            
        }
        ul{
            li{
                padding-bottom: 2px;
                a{
                    color: $grey; 
                    font-size: 1.4rem;
                    line-height: 2.4rem;
                    position: relative;
                    transition: all 0.5s ease;
                    &::after{
                        content: '';
                        left: 0;
                        right: 100%;
                        height: 1px;
                        position: absolute;
                        bottom: -5px;
                        display: block;
                        background-color: $green;
                        transition: all 0.5s ease;
                    }
                    &:hover{
                        &::after{
                            right: 0;
                            transition: all 0.5s ease;
                        }
                    }
                }
            }
        }
    }
}

.scroll-to-up{
    text-align: right;
    &__back-link{
        font-size: 1.6rem;
        line-height: 3rem;
        color: #222;
        margin-right: 30px;
        @include media-breakpoint-up(xl) {
            font-size: 1.8rem;
            line-height: 3.6rem;
        }
        i{
            font-size: 30px;
            color: $green;
            margin-left: 10px;
        }
        &:hover{
            color: $green;
        }
    }
    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: transparent;
      }
}