.header {
  padding: 26px 10px;
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  // z-index: 1000;
  background-color: transparent;
  transition: all 0.5s ease-out;
  @include media-breakpoint-up(lg) {
    box-shadow: inherit;
    padding: 26px 0px 26px;
  }
  &.sticky {
    background-color: $white;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    transition: all 0.5s ease-out;
    position: fixed;
  }
  @include media-breakpoint-up(xl) {
    padding: 26px 0px 26px 0px;
  }
  &__logo {
    @include for-desktop-top-menu;
    float: left;
    display: inline-block;
    img {
      height: 68px;
    }
  }
  &__top-menu {
    @include for-desktop-top-link-menu;
  }
  &__top-menu a {
    font-size: 12px;
    line-height: 20px;
    color: $grey;
    font-weight: 300;
    text-transform: capitalize;
  }
  .navbar {
    padding: 0;
    position: inherit;
    @include media-breakpoint-down(md) {
      width: calc(100% + 30px);
      left: -15px;
      position: relative;
    }
    .navbar-collapse {
      @include media-breakpoint-up(lg) {
        justify-content: flex-end;
      }
      @include for-desktop-menu;
    }
    .nav {
      // margin: 0 auto;
      // align-items: flex-start;
      // @include media-breakpoint-up(lg) {
      //   align-items: center;
      //   background-color: #fff;
      //   -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
      //   box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
      // }
      .btn {
        padding: 18px 35px;
        border-radius: 0;
        text-transform: uppercase;
      }
    }
    .nav-link {
      padding: 0;
      color: $Nero;
      font-size: 1.6rem;
      line-height: 1.7rem;
      font-weight: 700;
      font-family: $nunito;
      border-bottom: none;
      text-align: left;
      @include media-breakpoint-up(lg) {
        text-align: center;
        padding: 8px 10px 20px 10px;
        margin: 0 15px;
        font-size: 1.6rem;
        border-bottom: 3px solid transparent;
      }
      &:hover {
        font-family: $nunito;
        border-bottom: none;
        @include media-breakpoint-up(lg) {
          //border-bottom: 3px solid $green;
          color: $green;
        }
      }
      .dropdown {
        &.show {
          .dropdown-toggle {
            color: $green;
            &:after {
              transform: rotate(180deg);
              color: $green;
            }
          }
          .dropdown-menu {
            display: block;
            @include media-breakpoint-up(lg) {
              display: flex;
            }
          }
        }
        .btn {
          background-color: $green;
          color: $white;
        }
      }
    }
    .nav-item {
      padding: 30px 0;
      text-align: left;
      width: 100%;
      @include media-breakpoint-up(lg) {
        margin: 0 18px;
        text-align: center;
        width: auto;
        padding: 0;
      }
      @include media-breakpoint-up(xl) {
        margin: 0 25px;
      }

      &.active {
        .nav-link {
          font-family: $nunito;
          border-bottom: none;
          @include media-breakpoint-up(lg) {
            border-bottom: 3px solid $green;
          }
        }
      }
    }
  }
  .navbar-collapse {
    @include media-breakpoint-down(md) {
      position: absolute;
      background-color: $white;
      width: calc(100% + 30px);
      top: 0;
      padding: 0 30px;
      z-index: 100;
      left: -15px;
      margin-top: 25px;
    }
    &.show {
      @include media-breakpoint-down(md) {
        border-bottom: 8px solid $green;
        height: 100%;
        min-height: 500px;
        overflow: auto;
      }
    }
  }
  .navbar-toggler {
    &-icon {
      height: 25px;
      width: 30px;
    }
  }
  .dropdown {
    margin: 0px;
    width: 100%;
    padding: 25px 0 0 0;
    @include media-breakpoint-up(lg) {
      width: auto;
      padding: 0;
    }
    // &:last-child{
    //   margin: 0;
    //   @include media-breakpoint-up(lg) {
    //     margin-left: 20px;
    //   }
    // }
    .dropdown-toggle {
      &:after {
        content: "\f107";
        font-family: "Font Awesome 5 Free";
        border: 0;
        vertical-align: middle;
        font-size: 1.4rem;
        color: $Nero;
        transition: 0.2s ease all;
        margin-left: 7px;
        @include media-breakpoint-up(lg) {
          font-size: 1.2rem;
        }
      }
    }
    .dropdown-menu {
      box-shadow: none;
      border: none;
      background-color: $white;
      border-bottom: none;
      padding: 0;
      margin: 0;
      width: calc(100% + 60px);
      margin-top: 0px !important;
      margin-left: -30px;
      @include media-breakpoint-up(lg) {
        margin-top: 0px !important;
        width: max-content;
        border-bottom: 5px solid $green;
        border-top: 5px solid $green;
        @supports (-ms-ime-align: auto) {
          max-width: 600px;
          min-width: 300px;
        }
      }
      &::before {
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid $green;
        content: "";
        position: absolute;
        top: -20px;
        left: 0;
        right: 0;
        margin-left: 0;
        display: none;
        margin: 0 auto;
        @include media-breakpoint-up(lg) {
          display: block;
        }
      }
      .mega-dropdown-column {
        padding: 30px 40px;
        border-bottom: 2px dashed $light-green;
        @include media-breakpoint-up(lg) {
          border-left: 2px dashed $light-green;
          border-bottom: none;
          padding: 26px 30px;
        }
        &:first-child {
          border-bottom: 2px dashed $light-green;
          border-top: 2px dashed $light-green;
          @include media-breakpoint-up(lg) {
            border: none;
          }
        }
      }
      .drop-menu-title {
        margin-bottom: 25px;
        text-transform: uppercase;
        color: $Nero;
      }
      li {
        margin-bottom: 0px;
        @include media-breakpoint-up(lg) {
          // margin-bottom: 15px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      a {
        display: flex;
        .drop-link__img {
          flex: 16px 0 0;
          margin-right: 17px;
          img {
            height: 20px;
          }
        }
        .drop-link__text {
          p {
            font-size: 1.4rem;
            line-height: 1.7rem;
            font-weight: 300;
            color: $Nero;
          }
          strong {
            margin-bottom: 4px;
            display: block;
          }
        }
      }
      .dropdown-menu-wrap {
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
        background-color: #ffffff;
        border-radius: 0 0 2px 2px;
        display: flex;
        min-width: 225px;
        @include media-breakpoint-down(md) {
          display: inline-block;
          width: 100%;
          box-shadow: none;
          margin-top: 30px;
          min-width: auto;
        }
      }
    }
    &.has-dropdown {
      position: inherit;
      @include media-breakpoint-down(md) {
        position: relative;
      }
      .dropdown-menu {
        padding: 0 15px;
        @include media-breakpoint-up(lg) {
          position: absolute;
          margin: 0 auto;
          left: 0px;
          right: 0;
          margin-top: -30px !important;
          padding: 20px 0 0;
          background: inherit;
          @supports (-ms-ime-align: auto) {
            max-width: 1060px;
          }
        }
      }
      .mega-dropdown-column {
        padding: 30px 40px !important;
        @include media-breakpoint-up(lg) {
          padding: 50px !important;
        }
      }
    }

    .dropdown-toggle {
      &:hover {
        color: $green;
        &:after {
          transform: rotate(180deg);
          color: $green;
        }
      }
    }
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include for-desktop-link-menu;
  }
  // &__main{
  //   text-align: center;
  //   display: flex;
  //   align-items: center;
  // }
  &__menu {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    .logo-mobile {
      img {
        height: 48px;
        float: left;
      }
    }
  }
  &__right-link {
    float: right;
    display: block;
  }
  &__right {
    float: right;
    display: flex;
    align-items: center;
    .btn {
      margin-left: 20px;
      width: 100%;
      @include media-breakpoint-up(lg) {
        width: auto;
      }
    }
    .dropdown {
      .dropdown-menu {
        box-shadow: none;
        background-color: $white;
        border-radius: 0 0 2px 2px;
        border: none;
        border-bottom: none;
        margin: 0;
        width: calc(100% + 60px);
        margin-top: 30px !important;
        margin-left: -30px;
        @include media-breakpoint-up(lg) {
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
          margin-top: 16px !important;
          width: max-content;
          @supports (-ms-ime-align: auto) {
            max-width: 1060px;
            min-width: 200px;
          }
          border-bottom: 8px solid $green;
        }
        // &::before{
        //   left: 0;
        //   margin-left: 0;
        //   right: 0;
        //   margin: 0 auto;
        // }
        li {
          margin-bottom: 15px;
        }
        a {
          font-size: 1.4rem;
          line-height: 1.7rem;
          font-weight: 700;
          color: #2f3747;
        }
      }
    }
  }
  .nav-link {
    padding: 0;
    color: $Nero;
    font-size: 1.6rem;
    line-height: 1.7rem;
    font-weight: 700;
    font-family: $nunito;
    border-bottom: none;
    text-align: left;
    @include media-breakpoint-up(lg) {
      text-align: center;
      padding: 10px 0;
      font-size: 1.6rem;
      border-bottom: 3px solid transparent;
    }
    // &:hover{
    //   font-family: $nunito;
    //     border-bottom: none;
    //     @include media-breakpoint-up(lg) {
    //       border-bottom: 3px solid $green;
    //     }
    // }
  }
  &__login {
    color: $Nero;
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 700;
    font-family: $nunito;
    @include media-breakpoint-up(lg) {
      font-size: 1.4rem;
    }
    &:hover {
      color: $Nero;
    }
    i {
      font-size: 1.4rem;
      color: $Nero;
      transition: 0.2s ease all;
      margin-left: 5px;
      float: right;
      @include media-breakpoint-up(lg) {
        font-size: 1.2rem;
        float: none;
      }
    }
    img {
      width: 15px;
      margin-right: 5px;
    }
    li {
      a {
        align-items: center;
      }
    }

    @include media-breakpoint-down(md) {
      .dropdown-menu {
        &.mega-dropdown-menu {
          margin-top: 30px !important;
        }
      }
    }
  }
}

/*hamberger css*/
* {
  margin: 0;
  padding: 0;
}

/* Icon 1 */
#mobileMenu {
  width: 22px;
  height: 29px;
  top: 10px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  outline: 0 !important;
  float: right;
  background-color: inherit;
  border: none;
  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: $green;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    &::before {
      content: "";
      height: 4px;
      width: 4px;
      background: $green;
      display: none;
      position: absolute;
      left: -8px;
    }
    &:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
    &:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
  }
  &.collapsed {
    width: 22px;
    span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: $green;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;
      &::before {
        content: "";
        height: 4px;
        width: 4px;
        background: $green;
        display: block;
        position: absolute;
        left: -8px;
      }
      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2) {
        top: 9px;
      }
      &:nth-child(3) {
        top: 9px;
      }
      &:nth-child(4) {
        top: 19px;
      }
    }
  }
}

.bs-example {
  margin: 20px;
}
.dropdown:hover .dropdown-menu,
.btn-group:hover .dropdown-menu {
  @include media-breakpoint-up(lg) {
    display: inline-block;
    position: absolute;
    margin: 0 auto;
    left: -20px;
    right: 0;
    margin-top: 0px !important;
    padding: 10px 0;
    background: inherit;
    box-shadow: none;
  }
}
.dropdown-menu {
  @include media-breakpoint-up(lg) {
    margin-top: 0;
  }
}
.dropdown-toggle {
  @include media-breakpoint-up(lg) {
    margin-bottom: 2px;
  }
}
.navbar .dropdown-toggle,
.nav-tabs .dropdown-toggle {
  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }
}
// .header-right-patter{
//   @include for-phone-only;
//   width: 85%;
//   height: 300px;
//   position: absolute;
//   background-color: #91965e;
//   right: 0;
//   top: 100px;
//   border-radius: 100px 0 0 100px;
//   display: block;
//   @include media-breakpoint-up(sm){
//     width: 85%;
//     height: auto;
//     padding: 100px;
//     min-height: 270px;
//   }
//   @include media-breakpoint-up(lg){
//     width: 257px;
//     height: 563px;
//     position: absolute;
//     background-color: $green;
//     right: 0;
//     top: 0;
//     border-radius: 0 0 0 100px;
//     display: block;
//   }
// }
.header__top {
  position: relative;
}

.dropdown-menu {
  background-color: $white !important;
  top: 50px;
  .menu-item {
    &:first-child {
      padding-top: 10px;
      @include media-breakpoint-up(lg) {
        padding-top: 0;
      }
    }
    padding: 10px 0 0 0;
    @include media-breakpoint-up(lg) {
    }
    .dropdown-item {
      font-size: 1.4rem;
      line-height: 2rem;
      font-weight: 600;
      padding: 0 40px;
      padding-bottom: 6px;
      padding-top: 2px;
      &:hover {
        color: $white;
        background-color: $green;
      }
    }
  }
}

.header .navbar .current-menu-item .nav-link:active {
  border-bottom: 3px solid #91965e;
}
