.blog-side-bar{  
  padding: 30px 20px;
  background-color: $white;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  max-width: 285px;
  width: 100%;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
  .searchTerm {
    padding: 5px 20px;
    width: 100%;
    border: 1px solid $b-gray;
    border-right: none;
    border-radius: 5px 0 0 5px;    
    outline: none;
    &::placeholder {
      color: $light-gray;
      font-size: 1.6rem;
      line-height: 2.7rem;
      
    }   
  }  
.searchTerm:focus{
  color: $black;
}
.searchButton {
  width: 40px;
  height: 40px;
  border: 1px solid $b-gray;
  background: $white;
  text-align: center;
  color: $silver;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 14px;
  border-left: none;
}}

.sidebar-social-icons{
  &__heading{
    color: $Nero;
    margin: 25px 0;
    font-family: $nunito;
  }
  &__icons{
    li{
      padding: 15px 20px;
      margin-bottom: 10px;
      font-size: 1.8rem;
      line-height: 2.8rem;
      font-family: $nunito;
      font-weight: 500;
      text-align: center;
      i{
        margin-right: 10px;
      }
      }
  }
} 
#sidebar.fixed {
  position: inherit;
  top: 0;
  @include media-breakpoint-up(lg) {
      position: fixed;
      top: 100px; 
      // min-width: auto;
  } 
  @include media-breakpoint-up(xl) {
      // min-width: auto;
  }
}