html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: $nunito !important;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.8rem;
  overflow-x: hidden;
  color: $grey;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 1%,
    rgba(254, 246, 232, 1) 28%,
    rgba(254, 246, 232, 1) 100%
  );
}
.justify-content-center {
  //align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: $Nero;
  font-weight: 600;
  &:hover {
    text-decoration: none;
  }
}
strong {
  font-weight: 700;
}

.grey {
  background-color: $grey;
}
.green {
  background-color: $green;
}
.nevyblue {
  background-color: $light-nevyblue;
}
.grey-text {
  color: $charcoal-grey;
}
.green-text {
  color: $green;
}
.nevyblue-text {
  color: $light-nevyblue;
}
.gray-bg {
  background-color: $gray-bg;
}

// typography

h1 {
  font-size: 4.6rem;
  line-height: 6rem;
  font-family: $rozha-one;
  margin: 0;
  font-weight: 700;
  @include media-breakpoint-up(lg) {
    font-size: 7.2rem;
    line-height: 9rem;
  }
}

h2 {
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 600;
  font-family: $rozha-one;
  margin: 0;
  @include media-breakpoint-up(lg) {
    font-size: 5.4rem;
    line-height: 6.4rem;
  }
}

h3 {
  font-size: 3rem;
  line-height: 4rem;
  font-family: $playlistscript;
  font-weight: 700;
  margin: 0;
  @include media-breakpoint-up(lg) {
    font-size: 3.6rem;
    line-height: 4.5rem;
  }
}

h4 {
  font-size: 2.2rem;
  line-height: 2.8rem;
  font-family: $playlistscript;
  margin: 0;
}

h5 {
  font-size: 1.8rem;
  line-height: 3.6rem;
  font-family: $nunito;
  margin: 0;
  color: $grey;
}

p {
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin: 0;
  color: $grey;
  font-weight: 400;
  font-family: $nunito;
}

.text-large {
  font-size: 2rem;
  line-height: 3.2rem;
}

label {
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-family: $nunito;
  font-weight: 700;
}

hr {
  border-top: 1.5px dashed $Nero;
  margin: 40px 0;
}
input {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
button {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

// buttons

.btn {
  @include btn;
  &--grey {
    border: 1px solid $cream;
    border-radius: 4px;
    padding: 5px 18px 9px;
    background-color: $charcoal-grey;
  }
  &--green {
    border: 1px solid $cream;
    border-radius: 4px;
    padding: 5px 18px 9px;
    background-color: $green;
  }
  &--nevyblue {
    border: 1px solid $cream;
    border-radius: 0;
    padding: 5px 31px 10px;
    background-color: $light-nevyblue;
  }
}

.link {
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: $green;
  display: flex;
  font-weight: 700;
  font-family: $nunito;
  position: relative;
  outline: none;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  &::after {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    color: $green;
    margin-left: 8px;
    transition: 0.7s ease all;
    font-size: 1.4rem;
    line-height: 2.9rem;
  }
  &:hover {
    color: $Nero;
    &::after {
      color: $Nero;
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
  }
}

.section-header {
  text-align: center;
  margin-bottom: 45px;
  @include media-breakpoint-up(lg) {
    margin-bottom: 60px;
  }
  &__title {
    font-size: 3.2rem;
    line-height: 4rem;
    font-weight: 600;
    color: $Nero;
    font-family: $nunito;
    span {
      font-family: $playlistscript;
    }
    &--green {
      color: $green;
    }
    &--border-bottom {
      &::after {
        content: "";
        width: 200px;
        height: 2px;
        background-color: $dark-grey;
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        @include media-breakpoint-up(lg) {
          margin-top: 20px;
        }
      }
    }
    @include media-breakpoint-up(lg) {
      font-size: 4.6rem;
      line-height: 5.2rem;
    }
  }
}
.dubble-heading-section {
  display: block;
  text-align: center;
  margin-bottom: 45px;
  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
  }
  &__title {
    color: $dark-grey;
    text-transform: uppercase;
    order: 1;
    opacity: 10%;
    font-family: $nunito;
    font-size: 4.6rem;
    line-height: 6rem;
    margin: 0;
    font-weight: 700;
    @include media-breakpoint-up(lg) {
      font-size: 7.2rem;
      line-height: 9rem;
    }
  }
  &__subtitle {
    width: 100%;
    justify-content: center;
    position: relative;
    margin-top: 10px;
    color: $Nero;
    display: flex;
    align-items: center;
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 700;
    font-family: $rozha-one;
    @include media-breakpoint-up(lg) {
      font-size: 3.6rem;
      line-height: 4.5rem;
      width: 50%;
      margin-top: 0px;
      justify-content: flex-start;
    }
    &::after {
      content: "";
      height: 1px;
      max-width: 160px;
      width: 100%;
      background-color: $Nero;
      display: inline-block;
      position: absolute;
      margin: 0;
      top: 0;
      @include media-breakpoint-up(lg) {
        position: inherit;
        margin-left: 20px;
        margin-top: 8px;
      }
    }
  }
}

.section-heading {
  text-align: center;
  &__title {
    font-size: 3.5rem;
    line-height: 7.8rem;
    color: $green;
    position: relative;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    @include media-breakpoint-up(lg) {
      font-size: 4.8rem;
      line-height: 9.8rem;
    }
    &::before {
      content: "";
      background: $black;
      width: 150px;
      height: 3px;
      position: absolute;
      bottom: 0;
    }
  }
}

.small-line {
  position: relative;
  padding-bottom: 15px;
  &::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 50px;
    background-color: $silver;
    left: 0;
    bottom: 0;
  }
}

// social icons

.facebook {
  border: 2px solid $light-nevyblue;
  color: $light-nevyblue;
  border-radius: 5px;
  a {
    color: $light-nevyblue;
  }
}
.google-plus {
  border: 2px solid $orange;
  color: $orange;
  border-radius: 5px;
  a {
    color: $orange;
  }
}
.twiter {
  border: 2px solid $sky-blue;
  color: $sky-blue;
  border-radius: 5px;
  a {
    color: $sky-blue;
  }
}
.tumblr {
  border: 2px solid $venice;
  color: $venice;
  border-radius: 5px;
  a {
    color: $venice;
  }
}
.pinterest {
  border: 2px solid $red;
  color: $red;
  border-radius: 5px;
  a {
    color: $red;
  }
}

// how it works

.light-nevyblue-border {
  border: 25px solid $light-nevyblue;
  position: relative;
  &::before {
    content: "";
    height: 30px;
    width: 30px;
    background-color: $light-nevyblue;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: -150px;
  }
  &::after {
    content: "";
    height: 150px;
    width: 2px;
    background-color: $light-nevyblue;
    display: block;
    position: absolute;
    bottom: -150px;
  }
}
.green-border {
  border: 25px solid $green;
  position: relative;
  &::before {
    content: "";
    height: 30px;
    width: 30px;
    background-color: $green;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: -150px;
  }
  &::after {
    content: "";
    height: 150px;
    width: 2px;
    background-color: $green;
    display: block;
    position: absolute;
    bottom: -150px;
  }
}
.nero-border {
  border: 25px solid $Nero;
  position: relative;
  &::before {
    content: "";
    height: 30px;
    width: 30px;
    background-color: $Nero;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: -150px;
  }
  &::after {
    content: "";
    height: 150px;
    width: 2px;
    background-color: $Nero;
    display: block;
    position: absolute;
    bottom: -150px;
  }
}
.grey-border {
  border: 25px solid #6d7079;
  position: relative;
  &::before {
    content: "";
    height: 30px;
    width: 30px;
    background-color: #6d7079;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: -150px;
  }
  &::after {
    content: "";
    height: 150px;
    width: 2px;
    background-color: #6d7079;
    display: block;
    position: absolute;
    bottom: -150px;
  }
}
.nevyblue-border {
  border: 25px solid #838dae;
  position: relative;
  &::before {
    content: "";
    height: 30px;
    width: 30px;
    background-color: #838dae;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: -150px;
  }
  &::after {
    content: "";
    height: 150px;
    width: 2px;
    background-color: #838dae;
    display: block;
    position: absolute;
    bottom: -150px;
  }
}
.border-btn {
  border: 5px solid $floral;
  padding: 4px 50px 8px;
  color: $floral;
  font-size: 1.8rem;
  line-height: 2.4rem;
  position: relative;
  overflow: hidden;
  display: inline-block;
  font-family: $nunito;
  z-index: 1;
  background-color: transparent;
  transition: 0.7s ease all;
  // display: flex;
  // width: fit-content;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  text-align: center;
  &:hover {
    color: $white;
    &:before {
      width: 100%;
      transition: 0.7s ease all;
    }
    &:after {
      color: $white;
    }
  }
  &:before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    transition: 0.7s ease all;
    z-index: -1;
  }
}
