.about-right-image-block {
  position: relative;
  padding-bottom: 100px;
  padding-top: 50px;
  @include media-breakpoint-up(lg) {
    padding-bottom: 115px;
    padding-top: 0;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-color: transparent transparent $white transparent;
    border-style: solid;
    display: block;
    border-top-width: 0;
    border-bottom-width: 115px;
    border-left-width: 1920px;
    border-right-width: 0;
  }
  &__image {
    margin-top: 0;
    @include media-breakpoint-up(lg) {
      margin-top: -45px;
    }
    img {
      width: 100%;
    }
  }
  p {
    color: $floral;
    line-height: 2.3rem;
    font-size: 1.8rem;
    font-weight: 400;
    width: 100%;
    padding: 30px 0;
    @include media-breakpoint-up(lg) {
      width: 80%;
    }
  }
  &__heading {
    background-color: $floral;
    text-align: center;
    padding: 25px 0;
    width: 50%;
    position: absolute;
    right: 0;
    top: -100px;
    left: 0;
    margin: 0 auto;
    @include media-breakpoint-up(lg) {
      padding: 50px 0;
      width: 50%;
      right: 0;
      top: -260px;
      left: auto;
    }
    @include media-breakpoint-only(lg) {
      top: -216px;
      padding: 40px 0;
      width: 50%;
      right: 0;
      left: auto;
    }
  }
  &__head-block {
    position: relative;
  }
  &__title {
    color: $grey;
    font-weight: 400;
  }
}
