.about-us-quiz{
    margin: 100px 0;
    &__column{
        margin-bottom: 35px;
        margin-top: 10px;
        @include media-breakpoint-up(lg) {
            margin-bottom: 50px;  
            margin-top: 30px;
        }
    }
    &__heading{
        font-size: 1.8rem;
        line-height: 2.3rem;
        color: $grey;
        font-weight: 700;
        margin-bottom: 20px;
        padding: 0;
        @include media-breakpoint-up(sm) {
            padding: 0 115px;}
    }
    &__answer{
        padding: 0;
        @include media-breakpoint-up(sm) {
            padding: 0 115px;
        }
    }
    &__sub-answer{
        font-size: 1.8rem;
        line-height: 2.3rem;
        color: $grey;
        font-weight: 700;
        span{
            margin-right: 5px;
        }
        .bg-pattern{
            position: relative;
            &::before{
                content: '';
                position: absolute;
                top: -5px;
                left: -8px;
                width: 32px;
                height: 32px;
                background-image: url(../images/quiz1.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
        .bg-pattern-2{
            position: relative;
            &::before{
                content: '';
                position: absolute;
                top: -5px;
                left: -8px;
                width: 32px;
                height: 41px;
                background-image: url(../images/quiz2.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
        .bg-pattern-3{
            position: relative;
            &::before{
                content: '';
                position: absolute;
                top: -5px;
                left: -15px;
                width: 36px;
                height: 33px;
                background-image: url(../images/quiz3.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
        .bg-pattern-4{
            position: relative;
            &::before{
                content: '';
                position: absolute;
                top: -5px;
                left: -8px;
                width: 32px;
                height: 32px;
                background-image: url(../images/quiz4.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
    &__desc{
        color: $green;
        font-size: 4rem;
        line-height: 7rem;
        font-weight: 400;
        position: relative;
        text-align: center;
        font-family: $playlistscript;
        span{
            margin-right: 5px;
        }
        &::before{
            position: absolute;
            content: "";
            border: 1px solid $black;
            margin: 0 auto;
            margin: 0 auto;
            height: 1px;
            width: 270px;
            right: 0;
            left: 0;
            top: 70px;
        }
        }
}