.about-pattern-block {
  margin: 100px 0;

  &__title {
    color: $floral;
    line-height: 6rem;
    font-weight: 400;
    font-size: 3rem;
    background-color: $green;
    padding: 30px 0;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    @include media-breakpoint-up(lg) {
      font-size: 4rem;
    }
  }
  p {
    color: $grey;
    line-height: 2.3rem;
    font-size: 1.8rem;
    text-align: center;
    padding: 25px 25px 35px;
    font-weight: 400;
    @include media-breakpoint-up(sm) {
      padding: 50px 50px 85px;
    }
  }
  &__section {
    position: relative;
    &::before {
      content: "";
      border: 1px solid $green;
      margin: 0 auto;
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      z-index: -1;
    }
  }
}
