.about-me {
  margin: 130px 0 50px;
  @include media-breakpoint-up(lg) {
    margin: 230px 0 70px;
  }
  &__title {
    font-size: 4rem;
    line-height: 6rem;
    color: $floral;
    font-weight: 400;
    margin-bottom: 40px;
    span {
      font-family: $playlistscript;
    }
  }
  p {
    color: $floral;
    line-height: 2.3rem;
    font-size: 1.8rem;
  }
  &__column {
    background-color: $grey;
    padding: 40px 20px;
    text-align: center;
    margin-top: 0;
    margin-right: 0;
    min-height: 400px;
    z-index: 1;
    position: relative;
    @include media-breakpoint-up(lg) {
      padding: 100px;
      margin-top: -148px;
      margin-right: -115px;
      min-height: 590px;
    }
    @include media-breakpoint-only(lg) {
      min-height: 515px;
      margin-top: -148px;
      margin-right: -115px;
    }
  }
  &__image {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      @include media-breakpoint-up(lg) {
        height: 585px;
      }
    }
  }
  &--right {
    margin: 100px 0 70px;
    .about-me__col {
      order: 1;
    }
    .about-me__column {
      padding: 40px 20px;
      text-align: center;
      margin-top: 0;
      margin-left: 0;
      min-height: 400px;
      @include media-breakpoint-up(lg) {
        padding: 100px;
        margin-top: 148px;
        margin-left: -115px;
        min-height: 590px;
        margin-right: 0;
      }
    }
  }
  &__forms {
    margin-top: 60px;
    .wpforms-field-container {
      .wpforms-field-large {
        height: 50px !important;
        font-family: revert;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
    .wpforms-submit-container {
      .wpforms-submit {
        width: 60%;
        margin-top: 25px;
        background-color: transparent !important;
        border: 4px solid #fff !important;
        color: #fff !important;
        padding-bottom: 14px !important;
      }
    }
  }
}
