.about-image-grey-block{   
    position: relative;  
    height: auto;
    margin: 100px 0;
    @include media-breakpoint-up(lg) {
    height: 450px;
    margin: 400px 0 140px;  
    }
    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: -114px;
        right: 0;
        border-color: transparent transparent $grey transparent;
        border-style: solid;
        display: block;
        border-top-width: 0;
        border-right-width: 0;
        border-left-width: 1920px;
        border-bottom-width: 115px;  
    }
  &__right-image{
    margin-top: 30px;
    @include media-breakpoint-up(lg) {
        margin-top: -330px;
    }
    @include media-breakpoint-only(lg){       
        margin-top: -229px;
    }
    img{
        width: 100%;
    }
  }
  &__desc{
      p{
        color: $white;
        @include media-breakpoint-up(lg) {
            color: $Nero;
        }
      
      }
        margin-top: 30px;
    @include media-breakpoint-up(lg) {
        margin-top: -200px;
    }
    @include media-breakpoint-only(lg){       
        margin-top: -229px;
    }
  }
  &__image{
      margin-top: 30px;
      @include media-breakpoint-up(lg) {
        margin-top: -65px;
      }
      img{
          width: 100%;
          @include media-breakpoint-up(lg) {
              width: auto;
          }
      }
  }
 }