.accelerator-image-blog {
  &__column {
    padding: 40px 20px;
    text-align: center;
    margin-top: 0;
    margin-left: 0;
    min-height: 400px;
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include media-breakpoint-up(lg) {
      padding: 100px 20px;
      margin-top: 148px;
      margin-left: -140px;
      min-height: 590px;
    }
    @include media-breakpoint-only(lg) {
      min-height: 515px;
      padding: 45px;
    }
  }
  &__image {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      @include media-breakpoint-up(lg) {
        height: 585px;
      }
    }
  }
  p {
    color: $floral;
    margin-bottom: 45px;
    width: 100%;
    @include media-breakpoint-up(lg) {
      width: 85%;
    }
  }
  &__title {
    color: $floral;
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 400;
    margin-bottom: 20px;
    @include media-breakpoint-up(lg) {
      font-size: 4rem;
      line-height: 5rem;
    }
  }
  &--right {
    margin: 80px 0;
    @include media-breakpoint-up(lg) {
      margin: 220px 0 80px;
    }
    .accelerator-image-blog__img {
      order: 0;
      @include media-breakpoint-up(lg) {
        order: 1;
      }
    }
    .accelerator-image-blog__column {
      padding: 40px 20px;
      text-align: center;
      margin-top: 0;
      margin-right: 0;
      min-height: 400px;
      margin-left: 0;
      z-index: 1;
      position: relative;
      @include media-breakpoint-up(lg) {
        padding: 100px 20px;
        margin-top: -115px;
        margin-right: -140px;
        min-height: 590px;
      }
      @include media-breakpoint-only(lg) {
        min-height: 515px;
        margin-top: -115px;
        margin-right: -140px;
      }
    }
  }
}
