.accordion-module{
    margin: 80px 10px;
    @include media-breakpoint-up(lg){
        margin: 140px 10px;
    }
    &__heading{
        padding-right: 0px;
        margin-bottom: 40px;
        @include media-breakpoint-up(lg){
            padding-right: 40px;
            margin-bottom: 0px;
        }
    }
    &__title{
        font-size: 2.8rem;
        line-height: 3.6rem;
        color: $green;
        text-transform: uppercase;
        margin-bottom: 35px;
        margin-top: 15px;
        &::after{
            content: '';
            width: 56px;
            height: 2px;
            display: block;
            background-color: $grey;
            margin-top: 15px;
        }
    }
}
.accordion-section{
    .card{
        background: $darkcream;
        border: none;
        border-radius: 0;
        margin-bottom: 6px;
    }
    .card-header{
        background: transparent;
        border: none;
        padding: 0;
        border-radius: 0;
        button{
            display: block;
            width: 100%;
            text-align: left;
            border: none;
            padding: 15px 35px 15px 18px;
            background-color: transparent;
            font-size: 1.8rem;
            line-height: 2.4rem;
            color: $light-nevyblue;
            font-weight: 600;
            @include media-breakpoint-up(lg){
                font-size: 2rem;
                line-height: 2.6rem;
            }
            &::before{
                content: '';
                height: 1px;
                width: 15px;
                background-color: $dark-grey;
                display: inline-block;
                position: absolute;
                right: 15px;
                top: 28px;
            }
            &::after{
                content: '';
                height: 1px;
                width: 15px;
                background-color: $dark-grey;
                display: inline-block;
                position: absolute;
                right: 15px;
                top: 28px;
                transition: all 0.5s ease-in;
            }
            &.collapsed{
                &::after{
                    transform: rotate(90deg);
                    transition: all 0.5s ease-in;
                }
            }
        }
    }
    .collapse{
        border-top: 1px solid $white;
    }
}