.accelerator-green-block {
  position: relative;
  padding-bottom: 80px;
  padding-top: 80px;
  text-align: center;
  @include media-breakpoint-up(lg) {
    padding-bottom: 115px;
    padding-top: 50px;
    text-align: left;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-color: transparent transparent $white transparent;
    border-style: solid;
    display: block;
    border-top-width: 0;
    border-bottom-width: 115px;
    border-left-width: 1920px;
    border-right-width: 0;
  }
  &__column {
    margin-bottom: 30px;
    padding-left: 0;
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
      padding-left: 50px;
    }
  }
  &__title {
    text-align: center;
    color: $floral;
    font-size: 3rem;
    line-height: 4.6rem;
    margin-bottom: 20px;
    font-weight: 400;
    @include media-breakpoint-up(lg) {
      font-size: 4rem;
      line-height: 5.6rem;
      margin-bottom: 40px;
    }
  }
  &__heading {
    color: $floral;
  }
  &__lists {
    li {
      color: $floral;
      &::before {
        content: "";
        background-color: $floral;
        height: 7px;
        width: 7px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
}
