.accelerator-blog {
  margin: 0 0 60px;
  padding-top: 0;
  @include media-breakpoint-up(lg) {
    margin: 148px 0 60px;
    padding-top: 70px;
  }
  &__column {
    padding: 40px 20px;
    text-align: center;
    margin-top: 0;
    margin-right: 0;
    min-height: 400px;
    z-index: 1;
    position: relative;
    @include media-breakpoint-up(lg) {
      padding: 80px;
      margin-top: -148px;
      margin-right: -175px;
      min-height: 590px;
    }
    @include media-breakpoint-only(lg) {
      padding: 60px 45px;
      min-height: 515px;
      margin-top: -148px;
      margin-right: -115px;
    }
  }
  &__image {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      // @include media-breakpoint-up(lg) {
      //   height: 490px;
      // }
    }
  }
  &__heading {
    position: relative;
    span {
      color: $white;
      font-size: 3rem;
      line-height: 5rem;
      font-weight: 400;
      font-family: $rozha-one;
      position: inherit;
      @include media-breakpoint-up(lg) {
        font-size: 4rem;
        line-height: 5.6rem;
        position: absolute;
        right: 0;
        top: 66px;
      }
    }
  }
  &__title {
    color: $white;
    font-size: 3rem;
    line-height: 5rem;
    width: 100%;
    font-weight: 400;
    @include media-breakpoint-up(lg) {
      font-size: 4rem;
      line-height: 6rem;
      width: 65%;
    }
  }
  // &__form {
  //   margin-top: 45px;
  // }
  &__form {
    margin-top: 20px;
    @include media-breakpoint-up(lg) {
      margin-top: 60px;
    }
    .wpforms-field-container {
      width: 90% !important;
      margin: 0 auto !important;
      .wpforms-field-large {
        height: 50px !important;
        font-family: revert;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
    .wpforms-submit-container {
      .wpforms-submit {
        width: 60%;
        margin-top: 25px;
        background-color: transparent !important;
        border: 4px solid #fff !important;
        color: #fff !important;
        padding-bottom: 14px !important;
      }
    }
  }
  &__form-title {
    color: $white;
    font-weight: 400;
  }
  // &--right {
  //   margin: 100px 0 70px;
  //   .about-me__col {
  //     order: 1;
  //   }
  //   .about-me__column {
  //     padding: 40px 20px;
  //     text-align: center;
  //     margin-top: 0;
  //     margin-left: 0;
  //     min-height: 400px;
  //     @include media-breakpoint-up(lg) {
  //       padding: 100px;
  //       margin-top: 148px;
  //       margin-left: -115px;
  //       min-height: 590px;
  //       margin-right: 0;
  //     }
  //   }
  // }
}

.accelerator {
  background: $white;
  .center-content {
    .section-header__title {
      font-weight: 400px !important;
    }
  }
}
