.accelerator-gray-block{   
    position: relative;  
    min-height: 300px;
    margin: 100px 0;
    @include media-breakpoint-up(lg) {
    min-height: 400px;
    margin: 220px 0 140px;  
    }
    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: -114px;
        right: 0;
        border-color: transparent transparent $grey transparent;
        border-style: solid;
        display: block;
        border-top-width: 0;
        border-right-width: 0;
        border-left-width: 1920px;
        border-bottom-width: 115px;  
    }
    &__title{
        color: $floral;
        font-weight: 400;
        font-size: 3rem;
        line-height: 4rem;
        margin-bottom: 30px;
        @include media-breakpoint-up(lg) {
            font-size: 4rem;
            line-height: 6rem;  
        }
    }
    &__column{
        text-align: center;
        padding-top: 50px;
    }
 }