.blog-box-module{
    margin: 80px 0;
    @include media-breakpoint-up(lg){
        margin: 100px 0; 
    }
&__info{
    background-color: $white;
    padding: 30px;
    margin-left: 0;
    @include media-breakpoint-up(lg){
        margin-left: -70px;
    }
}
&__image{
    img{
        height: auto;
        object-fit: cover;
        @include media-breakpoint-up(lg){
            height: 500px;
        }
    }
    
}
&__title{
    margin: 30px 0 15px;
    color: $green;
    font-size: 2.2rem;
    line-height: 3.4rem;
    font-weight: 700;
    font-family: $nunito;
    @include media-breakpoint-up(lg){
        font-size: 2.6rem;
        line-height: 3.4rem;  
    }
}
p{
    margin-bottom: 30px;
}
&--right{
    margin: 0 0;
    .blog-box-module__img{
        order: 0;
        @include media-breakpoint-up(lg){
            order: 1; 
        }
    }
    .blog-box-module__info {
        margin-left: 0;
        margin-right: 0;
        @include media-breakpoint-up(lg){
            margin-right: -70px;

        }
    }
}
}