.blog-post-accelerator{
    margin: 65px 0;
    @include media-breakpoint-up(lg){
        margin: 95px 0;
        }
    .blog-post-accelerator-col{
        margin-bottom: 30px !important;
        @include media-breakpoint-up(lg){
            margin-bottom: 0px;
        }
    background-color: $white; 
    &__title{
        font-family: $nunito;
        font-weight: 700;
        line-height: 3rem;
        margin-top: 20px;
        color: #64729D;
        a{
            color: $green;
        }        
    }
    &__blogs{
        padding: 22px;
    }  
    &__image{
        height: 300px;
        width: 100%;
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
    }
    p{
        font-size: 1.8rem;
        line-height: 2.2rem;
    }
    &--center{
        margin: 0 25px;
        .blog-post-accelerator-col__blogs{
            p{
                text-align: center;
                font-size: 1.2rem;
                line-height: 1.6rem;
                color: $black;
            }
        }
    }
}
}