.blog-details-content{
  // background-color: $cream;
    img{
       margin-bottom: 30px;
       width: 100%;
       height: auto;
      
    }
    &__heading{
        font-size: 3rem;
        line-height: 4rem;
        font-family: $nunito;
        font-weight: 700;
        color: $light-nevyblue;
    }
    &__blog-category{
        color: $green;
        font-size: 2rem;
        line-height: 5rem;
        font-family: $nunito;
        font-weight: 700;
        margin-bottom: 10px;
    }
    &__section{
      position: relative;
      &::before{
       
        position: absolute;
        background-color: #a4a4a7;
        width: 2px;
        height: 100%;
        right: -59px;
        @include media-breakpoint-up(lg){
          content: "";
          position: absolute;
          background-color: #a4a4a7;
          width: 2px;
          height: 100%;
          right: -59px;
        }
      }
    }
   &__desc-module{
       p{
           margin-bottom: 30px;
       }
       h2{
         font-family: $nunito;
         color: $light-nevyblue;
         font-size: 3.2rem;
         line-height: 4rem;
         margin-bottom: 30px;
         @include media-breakpoint-up(lg){
          font-size: 4.2rem;
          line-height: 5rem;
         }
         span{
          color: $light-nevyblue !important;
         }
       }
       h4{
           color: $green;
           font-size: 2.4rem;
           line-height: 2.8rem;
           margin-bottom: 30px;
           text-transform: uppercase;
           font-family: $nunito;
           font-weight: 700;
       }
       ul{
           margin-bottom: 20px;
            li{
                display: flex;
                margin-bottom: 8px;
                font-size: 1.6rem;
                line-height: 2.6rem;
                color: $grey;
                &::before{
                  content: '';
                  width: 6px;
                  height: 6px;
                  display: inline-block;
                  background-color: #64729d;
                  border-radius: 50%;
                  margin-right: 8px;
                  margin-top: 13px;
                  flex: 6px 0 0;
                }
            }
       }
       h5{
           color: $grey;
           font-size: 2rem;
           line-height: 2.4rem;
           margin-bottom: 10px;
           text-transform: uppercase;
       }
   }
}
.blog-side-bar{  
  margin-left: 0;  
  @include media-breakpoint-up(lg){
    margin-left: 80px;
    position: absolute;
  }
  @include media-breakpoint-down(md){
    position: inherit !important;
    top: 0 !important;
    margin-top: 40px;
  }
  &::before{
    content: "";
   display: none;
    @include media-breakpoint-up(lg){
    height: 20px;
    width: 20px;
    border: 4px solid $green;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    left: -62px;
    z-index: 1;
    background-color: $white;
    }
  }
}