.blog-filter-module {
  margin: 70px 0;
  @include media-breakpoint-up(lg) {
    margin: 100px 0;
  }
  &__section {
    padding-top: 55px;
  }
  &__block {
    padding: 35px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 155px;
    text-align: center;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $black;
      opacity: 0.5;
    }
    &:hover {
      &::before {
        content: "";
        background-color: $light-nevyblue;
        opacity: 0.4;
      }
    }
  }
  &__heading {
    color: $white;
    font-size: 3.4rem;
    line-height: 4.2rem;
    font-family: $nunito;
    font-weight: 600;
    z-index: 100;
    text-transform: uppercase;
  }
}
