.blog-categories{
    margin: 70px 0;    
        &--pattern{
            position: relative;
            &::before{
                content: "";
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -166px;
                opacity: 0.2;
                z-index: -1;
                background-image: url(../images/blue-devider.png);
                background-position: center;
                background-size: cover;
                min-height: 512px;
            }
        }
    @include media-breakpoint-up(lg){
        margin: 100px 0;
    }
    &__image{
        height: 280px;
        width: auto;
        background-position: center;
        background-size: cover;
        @include media-breakpoint-up(lg){
            height: 250px;
        }
    }
    &__section{
        border-radius: 100px 0;
        overflow: hidden;
        margin-bottom: 50px;
        // &:last-child{
        //     margin-bottom: 0;
        // }
        @include media-breakpoint-up(lg){
           margin-bottom: 0;
        }
    }
    &__heading{
        padding: 50px 0;
        text-align: center;
    }
    &__title{        
        color: $white;
        font-size: 3rem;
        line-height: 3.4rem;
        font-family: $nunito;
        font-weight: 700;
    }
    &__module{
        padding-top: 55px;
        
    }
}