.blog-post-slider {
  margin: 65px 0;
  @include media-breakpoint-up(lg) {
    margin: 95px 0;
  }
  .blog-post-carousel {
    // padding: 55px 0;

    // @include media-breakpoint-up(lg){
    //     padding: 95px 0 55px;
    // }
  }
  .slick-dots li {
    width: auto;
    height: auto;
    margin: 0 4px;
  }
  .slick-dots li button {
    background: $light-nevyblue;
    border-radius: 5px;
    width: 40px;
    height: 8px;
    padding: 0;
    opacity: 25%;
  }
  .slick-dots li.slick-active button {
    opacity: 100%;
  }
  .slick-dots li button:before {
    display: none;
  }
}
.blog-post-column {
  background-color: $white;
  &__title {
    padding: 20px;
    font-family: $nunito;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 3rem;
    min-height: 158px;
    @include media-breakpoint-up(xl) {
      min-height: 130px;
    }
    a {
      color: $green;
    }
    &--blog-heading {
      min-height: auto;
    }
  }
  &__section {
    padding: 0 10px;
  }
  &__image {
    height: 300px;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
