.center-content {
  margin: 50px 10px;
  text-align: center;
  @include media-breakpoint-up(lg) {
    margin: 90px 10px;
  }
  &--pattern {
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: -10px;
      right: -10px;
      bottom: -175px;
      opacity: 0.2;
      z-index: -1;
      background-image: url("../images/grey-devider.png");
      background-position: center;
      background-size: cover;
      min-height: 500px;
    }
  }
  &--patterns {
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: -10px;
      right: -10px;
      bottom: -310px;
      opacity: 0.1;
      z-index: -1;
      background-image: url("../images/green-devider.png");
      background-position: center;
      background-size: cover;
      min-height: 500px;
    }
  }
  .section-header {
    margin-bottom: 40px;
    &--small-width {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 40px;
      @include media-breakpoint-up(lg) {
        width: 80%;
      }
    }
  }
  &__text {
    text-align: center;

    p {
      color: $grey;
      margin-bottom: 10px;
      font-weight: 400;
    }
  }
}
