.content-media-slide{
  margin: 70px 0;
  @include media-breakpoint-up(lg){
      margin: 100px 0;
  }
  &__section{
    display: flex;
    flex-wrap: wrap;
  }
  &__title{
    color: $charcoal-grey;
    margin: 0 0 35px;
    font-size: 3.6rem;
    line-height: 4.5rem;
    font-weight: 600;
  }
  &__content{
    flex: 100%;  
    margin-bottom: 40px;
    @include media-breakpoint-up(lg){
      flex: 30% 0 0;  
    }
    p{
      color: $charcoal-grey;
    }

  }
  &__media{
    text-align: center;
    flex: 40% 0 0;
    @include media-breakpoint-up(sm){
      flex: 30% 0 0;
    }
  }
  &__image{   
    flex: 25% 0 0;  
    margin-top: -30px;
    display: flex;
    align-items: center;
    @include media-breakpoint-up(sm){
      flex: 40% 0 0;   
    margin-top: -60px;
    }
    img{
      &:first-child{
        margin-right: 20px;
        margin-left: 20px;
        @include media-breakpoint-up(lg){
          margin-right: 30px;  
        }
      }
    }
  }
}