.contact-us {
  margin: 80px 0;
  @include media-breakpoint-up(lg) {
    margin: 100px 0;
  }
  &__form {
    padding: 50px 35px;
    // background-color: $dark-cream;
    margin-top: 50px;
    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }
  }
  &__heading {
    color: $green;
    margin-bottom: 30px;
  }
  a {
    color: $light-nevyblue;
  }
  &__sub-title {
    margin: 20px 0;
    color: $black;
  }
  ul {
    li {
      color: $light-nevyblue;
      font-weight: 700;
      font-size: 2rem;
      line-height: 2.4rem;
      list-style-type: decimal;
      list-style-position: inside;
      margin-bottom: 10px;
    }
  }
}

.contact-us--form {
  &__title {
    text-align: center;
    color: $black;
    margin-bottom: 30px;
    font-size: 3.2rem;
    line-height: 2.4rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid $green;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  input[type="submit"] {
    width: 100%;
    border-radius: 40px;
  }
}
