.content-media-module{
    padding: 60px 0;
    &__text{
        text-align: center;
        p{
            font-size: 1.8rem;
            line-height: 2.3rem;
            text-align: left;
            margin-bottom: 20px;
        }
    }
    .content-media-module-text{
        order: 1;
        @include media-breakpoint-up(lg) {
            order: 0;
        }
    }
}

