.four-column-icon-block{
    margin-top: -80px;
    &__box{
        background-color: $white;
        padding: 40px;
        text-align: center;
        border: 2px solid $green;
        min-height: 265px;
        margin-bottom: 10px;
        @include media-breakpoint-up(lg){
            margin-bottom: 0px;
        }
        @include media-breakpoint-up(xl){
            min-height: 235px;
        }
    }
    &__image{
        margin-bottom: 25px;
    }
    &__title{
        color: $green;
        text-transform: uppercase;
    }
}