.four-column-module{
    padding: 50px 0;
    @include media-breakpoint-up(lg) {
        padding: 100px 0;  
    }
    &__section{
        padding: 60px 0 0;
        @include media-breakpoint-up(lg) {
            padding: 60px 0 25px;  
        }
    }
    &__title{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        a{
            color: $white;           
        }
    }
    &__Column{
        margin-bottom: 35px;
        position: relative;
        text-align: center;
        margin-bottom: 35px;
        &:hover{
            .four-column-module__title{
               color: $yellow;
            }
        }
    }
    &__image{
        &::before{
            content: "";
            background-color: $black;            
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;          
            opacity: 0.4;            
        }
       
        img{
            display: block;
            width: 100%;
            height: auto;  
        }
    }
   
}
.section-heading P{
    color: $black;
}
.view-more-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}