.hero-module {
  position: relative;
  &__row {
    margin: 20px 0;
    position: relative;
    display: flex;
    align-items: center;
    @include media-breakpoint-up(lg) {
      margin: 0 0;
      align-items: center;
    }
  }
  &__image {
    flex: 50% 0 0;
    @include media-breakpoint-up(lg) {
      flex: 38% 0 0;
    }
    img {
      width: auto;
      @include media-breakpoint-up(sm) {
        width: 80% !important;
      }
      @include media-breakpoint-up(lg) {
        width: 100% !important;
      }
    }
  }
  &__button {
    margin-top: 30px;
    .btn--green {
      padding: 16px !important;
    }
  }
  &__content {
    position: relative;
    text-align: center;
    margin-top: 0px;
    // margin: 70px 0;
    width: 42%;
    margin: 30px 0;
    p {
      width: 100%;
      margin: 0 auto;
      @include media-breakpoint-up(lg) {
        width: 75%;
      }
    }
    @include media-breakpoint-up(lg) {
      margin-top: 0px;
    }
    @include media-breakpoint-only(lg) {
      width: 42%;
      position: absolute;
      right: 22%;
      margin-top: 70px;
    }
    p {
      font-weight: 400;
      color: $white;
      margin-top: 5px;
      font-size: 1.6rem;
      line-height: 1.8rem;
      @include media-breakpoint-up(sm) {
        margin-top: 15px;
        font-size: 1.8rem;
        line-height: 2.4rem;
      }
      @include media-breakpoint-up(lg) {
        color: $grey;
      }
    }
  }
  &__subtitle {
    font-size: 2rem;
    line-height: 4rem;
    position: inherit;
    font-weight: 400;
    color: $white;
    @include media-breakpoint-up(lg) {
      font-size: 4rem;
      line-height: 6rem;
      position: absolute;
      top: -55px;
      left: 120px;
      color: $grey;
    }
  }
  &__title {
    color: $floral;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.8rem;

    letter-spacing: 1px;
    @include media-breakpoint-up(sm) {
      font-size: 3.5rem;
      line-height: 3.8rem;
    }
    @include media-breakpoint-up(lg) {
      color: $grey;
    }
    @include media-breakpoint-only(lg) {
      font-size: 3rem;
      line-height: 3.5rem;
    }
  }

  &::before {
    content: "";
    width: 82%;
    height: 100%;
    position: absolute;
    background-color: $green;
    right: 0;
    top: 0;
    border-radius: 100px 0 0 100px;
    display: block;
    z-index: -1;
    @include media-breakpoint-up(lg) {
      width: 257px;
      height: 100%;
      position: absolute;
      background-color: $green;
      right: 0;
      top: -170px;
      border-radius: 0 0 0 100px;
    }
    @include media-breakpoint-only(lg) {
      width: 195px;
      height: 100%;
      position: absolute;
      background-color: $green;
      right: 0;
      top: -170px;
      border-radius: 0 0 0 100px;
    }
  }
}

.about-us-pages {
  background: $white;
  .about-us-quiz {
    .section-header__title {
      position: relative;
      span {
        color: $green;
        position: absolute;
        top: 0;
        transform: rotate(-16deg);
        font-weight: 400;
        margin-left: 0;
        padding: 5px;
        @include media-breakpoint-up(lg) {
          top: 43px;
          transform: rotate(-16deg);
          font-weight: 400;
          margin-left: -50px;
          padding: 10px;
        }
      }
    }
  }
  .devider {
    margin-bottom: 100px;
    @include media-breakpoint-up(lg) {
      margin-bottom: 170px;
    }
  }
  .left-right-image-module__text {
  }
  .left-right-image-module__heading {
    text-align: center;
    font-weight: 400;
    font-size: 3rem;
    line-height: 5rem;
    @include media-breakpoint-up(lg) {
      font-size: 4rem;
      line-height: 6rem;
      text-align: left;
    }
  }
  .hero-module {
    .hero-module__content {
      p {
        text-align: center !important;
        @include media-breakpoint-up(lg) {
          text-align: left !important;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .hero-module__title {
      text-align: center;
      @include media-breakpoint-up(lg) {
        text-align: center;
      }
    }
  }
}
