.image-with-content{
    padding: 80px 0;
    background-color: $light-cream;
    @include media-breakpoint-up(lg){
        padding: 100px 0;
    }
    &__image{
        img{
            width: 100%;
        }
    }
    &__heading{
        font-size: 3rem;
        line-height: 3.4rem;
        color: $grey;
        font-weight: 700;
        margin-bottom: 30px;
    }
    &__desc{
        margin-top: 50px;
        @include media-breakpoint-up(lg){
            margin-top: 0;
        } 
    }
}