.left-content-section{
    margin: 80px 0;
    h3{
        color: $light-nevyblue;
        margin-bottom: 20px;
    }
    p{
        color: $grey;
        margin-bottom: 20px;
    }
    ul{
        text-align: left;
        margin-bottom: 20px;
        li{
            display: flex;
            margin-bottom: 8px;
            font-size: 1.6rem;
            line-height: 2rem;
            color: $grey;
            &::before{
                content: '';
                width: 6px;
                height: 6px;
                display: inline-block;
                background-color: $green;
                border-radius: 50%;
                margin-right: 10px;
                margin-top: 9px;
                flex: 6px 0 0;
            }
        }
    }
}