.left-right-content{
    margin: 65px 10px;
    &__text{
        padding: 30px 30px;
        background-color: $transperent-nevyblue;
        position: relative;
        @include media-breakpoint-up(lg){
            padding: 70px 30px;
        }
        &::after{
            content: '';
            width: 100%;
            position: absolute;
            height: 100%;
            top: 0;
            bottom: 0;
            display: none;
            background-color: $transperent-nevyblue;
            left: 100%;
            @include media-breakpoint-up(lg){
                display: block;
            }
        }
        p{
            color: $white;
        }
    }
    &__image{
        img{
            object-fit: cover;
            height: auto;
            @include media-breakpoint-up(lg){
            height: 460px;
            }
        }
    }
    &__subtitle{
        font-size: 2rem !important;
        line-height: 3rem;
        color: $white;
        font-weight: 600;
        text-transform: capitalize;
        margin-bottom: 15px;  
        @include media-breakpoint-up(lg){
            font-size: 2.4rem !important;
        line-height: 3rem;
        }
    }
    &__title{
        font-size: 2.2rem;
        line-height: 3rem;
        color: $white;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 15px;       
        @include media-breakpoint-up(lg){
            font-size: 2.6rem;
            line-height: 3.2rem;
            margin-bottom: 22px;
        }
    }
    &--right{
        .left-right-content__img{
            @include media-breakpoint-up(lg){
                order: 1;
            }
        }
        .left-right-content__text::after{
            right: 100%;
            left: auto;
        }
    }
}