.left-right-image-module {
  margin: 65px 10px;
  &__text {
    padding: 0;
    @include media-breakpoint-up(lg) {
      padding: 30px 30px;
    }
    p {
      color: $Nero;
    }
  }
  &__image {
    img {
      height: auto;
      object-fit: cover;
      @include media-breakpoint-up(lg) {
        height: 450px;
        object-fit: cover;
      }
    }
  }
  &__heading {
    text-align: left;
    font-weight: 700;
    margin-top: 30px;
    font-size: 2.4rem;
    line-height: 3rem;
    margin-bottom: 20px;
    &--playlist {
      font-family: $playlistscript;
    }
    &--nunito {
      font-family: $nunito;
    }
    &--rohja {
      font-family: $rozha-one;
    }
    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }
  }
  &__subtitle {
    font-size: 2rem !important;
    line-height: 3rem;
    color: $Nero;
    font-weight: 600;
    text-transform: capitalize;
    margin: 15px 0;
    @include media-breakpoint-up(lg) {
      font-size: 2.4rem !important;
      line-height: 3rem;
    }
  }
  &__title {
    font-size: 2.2rem;
    line-height: 3rem;
    color: $Nero;
    font-weight: 600;
    text-transform: uppercase;
    margin: 15px 0;
    @include media-breakpoint-up(lg) {
      font-size: 2.6rem;
      line-height: 3.2rem;
      margin-bottom: 22px;
    }
  }
  &--right {
    .left-right-image-module__img {
      @include media-breakpoint-up(lg) {
        order: 1;
      }
    }
  }
  p {
    margin-bottom: 20px;
  }
  .btn {
    padding-bottom: 16px;
  }
}
