.link-tree-module{
    padding: 100px 0 0;   
    @include media-breakpoint-up(lg){
        padding: 120px 0 0;   

    } 
    &__column{
        margin-bottom: 70px;
        @include media-breakpoint-up(lg){
            margin-bottom: 100px;
        }
    }
    &__info{
        height: 250px;
        width: 250px;
        border-radius: 50%;
        background-color: $light-nevyblue;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 40px;
        &::after{
            content: '';
            position: absolute;
            top: -12px;
            bottom: -12px;
            left: -12px;
            right: -12px;
            border-radius: 50%;
            border: 1px dashed $light-nevyblue;
        }
    }
    &__heading{
        
        color: $white;
        text-transform: uppercase;
        font-size: 3rem;
        line-height: 4rem;
        text-align: center;
        font-weight: 600;
        font-family: $nunito;
    }
    &__btns{
        text-align: center;
        li{
            margin-bottom: 15px;
            .btn{
                width: 90%;
            }
        }
    }
    &__thanks-msg{
        padding: 30px 0 0;
        @include media-breakpoint-up(lg){
            padding: 150px 0 0;        }

        p{
            font-size: 2rem;
            line-height: 3rem;
            width: 80%;
            margin: 0 auto;
            color: $grey;
            text-align: center;
            @include media-breakpoint-up(lg){
                width: 50%;
            }
        }
    }
}
.link-tree-module--pattern{
    position: relative;
    &::before{
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -50px;
        z-index: -1;
        background-image: url(../images/yellow-divider.png);
        background-position: center;
        background-size: cover;
        min-height: 512px;
    }
}