.logos-module{
    padding: 70px 120px;
    position: relative;
    margin-top: 70px;
    margin-bottom: 70px;
    @include media-breakpoint-down(md) {
        padding: 50px 30px;
    }
    &::before{
        content: '';
        background-color: $light-nevyblue;
        opacity: 50%;
        position: absolute;
        left: 0;
        right: 15px;
        bottom: 25px;
        top: 0;
        @include media-breakpoint-up(sm) {
            right: 40px;
        }
    }
    &::after{
        content: '';
        background-color: $light-nevyblue;
        opacity: 50%;
        position: absolute;
        right: 0;
        left: 15px;
        top: 25px;
        bottom: 0;
        @include media-breakpoint-up(sm) {
            left: 40px;
        }
    }
    &__row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 1;
        @include media-breakpoint-down(md) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &__title{
        font-size: 2.4rem;
        line-height: 3.2rem;
        color: #fff;
        margin-bottom: 35px;
        font-family: $nunito;
        @include media-breakpoint-up(lg) {
            margin-bottom: 0px;
        }
        @include media-breakpoint-up(xl) {
            font-size: 3.2rem;
            line-height: 4.2rem;
        }
    }
    &__image{
        display: flex;
        @include media-breakpoint-down(sm) {
            overflow-x: scroll;
        }
    }
    &__img{
        padding: 0 22px;
        @include media-breakpoint-down(sm) {
            flex: 50% 0 0;
            text-align: center;
        }
    }
}
