.media-content {
  padding: 90px 10px;
  position: relative;
  @include media-breakpoint-up(lg) {
    padding: 95px 10px 125px;
  }
  &__img {
    img {
      width: 100%;
      @include media-breakpoint-up(lg) {
        width: 90%;
      }
    }
  }
  &__text {
    text-align: left;
    margin-top: 30px;
    @include media-breakpoint-up(lg) {
      text-align: right;
      margin-top: 0px;
    }
    p {
      margin-bottom: 42px;
    }
  }
  &__title {
    color: $Nero;
    margin-bottom: 18px;
    font-family: $nunito;
  }
  &__btns {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0;
    li {
      flex: 50% 0 0;

      margin-bottom: 12px;
      &:nth-child(odd) {
        padding-right: 12px;
      }
    }
    .btn {
      width: 100%;
      padding: 13px 8px;
      font-size: 1.4rem;
      line-height: 2.4rem;
      @include media-breakpoint-up(sm) {
        padding: 13px 12px;
      }
      @include media-breakpoint-up(xl) {
        padding: 13px 22px;
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
      i {
        margin-right: 10px;
        font-size: 2.2rem;
      }
    }
  }
}
.media-content-menu {
  background-color: $Snow;
  text-align: center;
  padding: 40px 20px;
  border-radius: 0 0 0 100px;
  @include media-breakpoint-up(lg) {
    display: inline-block;
    width: 18%;
    position: absolute;
    right: 0;
    bottom: 20px;
    top: 95px;
  }
  @include media-breakpoint-up(xl) {
    padding: 40px 30px;
  }
  &__title {
    color: $dark-grey;
    margin-bottom: 35px;
    font-family: $nunito;
    &:after {
      content: "";
      background-image: url(../images/grey-devider.png);
      background-size: contain;
      width: 70px;
      height: 22px;
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      margin: 0 auto;
      margin-top: 10px;
    }
  }
  &__link {
    a {
      font-size: 1.6rem;
      line-height: 3rem;
      color: $dark-grey;
      margin-bottom: 12px;
      display: block;
      @include media-breakpoint-up(xl) {
        font-size: 1.8rem;
        line-height: 3.6rem;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__back-link {
    margin-top: 40px;
    font-size: 1.6rem;
    line-height: 3rem;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-up(xl) {
      font-size: 1.8rem;
      line-height: 3.6rem;
    }
    i {
      font-size: 30px;
      color: $green;
      margin-left: 10px;
    }
    &:hover {
      color: $green;
    }
  }
  &--desk {
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
  &--phone {
    display: block;
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}
