.newsletter-module {
  padding: 70px 120px;
  position: relative;
  margin-bottom: 70px;
  @include media-breakpoint-down(md) {
    padding: 50px 30px;
  }
  &::before {
    content: "";
    background-color: $green;
    opacity: 50%;
    position: absolute;
    left: 0;
    right: 15px;
    bottom: 25px;
    top: 0;
    @include media-breakpoint-up(sm) {
      right: 40px;
    }
  }
  &::after {
    content: "";
    background-color: $green;
    opacity: 50%;
    position: absolute;
    right: 0;
    left: 15px;
    top: 25px;
    bottom: 0;
    @include media-breakpoint-up(sm) {
      left: 40px;
    }
  }
  &__heading {
    width: 60%;
    @include media-breakpoint-down(md) {
      text-align: center;
      margin-bottom: 25px;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
      justify-content: center;
    }
    .wpforms-field-container {
      width: 100% !important;
    }
    .wpforms-field-email {
      width: 100% !important;
    }
    .wpforms-form {
      display: flex;
    }
    .wpforms-field-large {
      height: 50px !important;
      border: 1px solid $white !important;
      border-radius: 0 !important;
      font-size: 1.6rem !important;
      line-height: 2.4rem !important;
      padding: 10px 15px !important;
    }
    div.wpforms-container-full {
      margin-bottom: 0 !important;
      margin: 0;
      width: 100%;
      margin-right: 0px;
      @include media-breakpoint-up(md) {
        width: 38%;
        margin-right: 20px;
      }
    }
    .wpforms-submit {
      border: 1px solid #fff !important;
      height: 50px !important;
      border-radius: 0 !important;
      padding: 10px 30px !important;
      line-height: 2rem !important;
      background: #000 !important;
      color: #fff !important;
      &::before {
        display: none;
      }
    }
  }
  &__title {
    font-size: 2.4rem;
    line-height: 3.2rem;
    color: #fff;
    font-family: $nunito;
    @include media-breakpoint-up(xl) {
      font-size: 3.2rem;
      line-height: 4.2rem;
    }
  }
}
.form-subscribe {
  max-width: 450px;
  width: 100%;
  .input-group {
    background: #fff;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  }
  input {
    height: 50px;
    border: 1px solid #fff;
    border-radius: 0;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 10px 15px;
  }
  button {
    border: 1px solid #fff;
    height: 50px;
    border-radius: 0;
    padding: 10px 30px;
    line-height: 2rem;
    background: #000;
    &::before {
      display: none;
    }
  }
}

// .wpforms-form {
//   display: flex;
// }
// .wpforms-field-large {
//   height: 50px !important;
//   border: 1px solid $white !important;
//   border-radius: 0 !important;
//   font-size: 1.6rem !important;
//   line-height: 2.4rem !important;
//   padding: 10px 15px !important;
// }
// div.wpforms-container-full {
//   margin-bottom: 0 !important;
// }
// .wpforms-submit {
//   border: 1px solid #fff !important;
//   height: 50px !important;
//   border-radius: 0 !important;
//   padding: 10px 30px !important;
//   line-height: 2rem !important;
//   background: #000 !important;
//   color: #fff !important;
//   &::before {
//     display: none;
//   }
// }
