.parallax-newsletter-module{
    background: $white;
    position: relative;
    &__img{
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 110px 10px 180px;
        &::after{
            content: '';
            display: block;
            background-color: $light-nevyblue;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 60%;
        }
    }
    &__content{
        position: relative;
        z-index: 1;
        text-align: center;
    }
    &__title{
        color: $white;      
        font-weight: 700;
        font-size: 3.8rem;
        line-height: 4.2rem;
        margin-bottom: 15px;
        @include media-breakpoint-up(lg){
            font-size: 4.8rem;  
        }
    }
    p{
        color: $white;
    }
    .form-subscribe{
        margin: 0 auto;
        padding-top: 50px;
        button{
            background-color: $light-nevyblue;
        }
    }
}