.parallax-module {
  background: #fff;
  position: relative;
  &__img {
    height: 100%;
    // background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 110px 10px;
    &::after {
      content: "";
      display: block;
      background-color: $green;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 60%;
    }
  }
  &__media {
    text-align: left;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    @include media-breakpoint-up(lg) {
      text-align: center;
      margin-bottom: 0px;
    }
  }
  &__title {
    color: $white;
    margin-bottom: 35px;
    font-weight: 600;
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 700;
    font-family: $nunito;
    @include media-breakpoint-up(lg) {
      font-size: 3.6rem;
      line-height: 4.5rem;
    }
  }
  &__content {
    position: relative;
    z-index: 1;
    .btn {
      padding: 15px 30px 20px;
    }
  }
  &__list {
    margin-bottom: 35px;
    li {
      font-size: 1.8rem;
      line-height: 2.6rem;
      font-family: $nunito;
      color: $white;
      margin-bottom: 8px;
      &::before {
        content: "-";
        margin-right: 8px;
        color: $white;
        font-size: 2rem;
      }
    }
  }
}
.wp-paginate {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0 !important;
  .page {
    padding: 10px;
  }
  .current {
    padding: 10px !important;
  }
  .prev {
    padding: 11px;
  }
  .next {
    padding: 11px;
  }
}
.iphone-model .px {
  position: relative;
  padding: 1% 7%;
}
.iphone-model .px--ls {
  padding: 3.3% 3%;
}
.iphone-model .px__body {
  position: absolute;
  top: 0;
  right: 1%;
  bottom: 0;
  left: 1%;
  background: linear-gradient(to top, #e5e5e5 0%, #f7f7f9 10%, #eeeef0 90%);
  border-radius: 14%/7%;
  box-shadow: inset 0 0 3px 1px #fff;
}
.iphone-model .px--ls > .px__body {
  top: 1%;
  right: 0;
  bottom: 1%;
  left: 0;
  border-radius: 7%/14%;
}
.iphone-model .px__body:before {
  content: "";
  position: absolute;
  top: 0.7%;
  right: 1.4%;
  bottom: 0.7%;
  left: 1.4%;
  background-color: #fff;
  border-radius: 13%/7%;
  box-shadow: 0 0 3px #fff;
}
.iphone-model .px--ls > .px__body:before {
  top: 1.4%;
  right: 0.7%;
  bottom: 1.4%;
  left: 0.7%;
  border-radius: 7%/13%;
}
.iphone-model .px__body:after {
  content: "";
  position: absolute;
  top: 1%;
  right: 2.3%;
  bottom: 1%;
  left: 2.3%;
  background-color: #fff;
  box-shadow: inset 0 0 10px 2px #fff;
  border-radius: 13%/6.5%;
}
.iphone-model .px--ls > .px__body:after {
  top: 2.3%;
  right: 1%;
  bottom: 2.3%;
  left: 1%;
  border-radius: 6.5%/13%;
}
.iphone-model .px__body__cut {
  position: absolute;
  z-index: 2;
  top: 3%;
  left: 50%;
  width: 50%;
  height: 3.5%;
  background-color: #fff;
  border-radius: 0 0 10% 10%/80%;
  transform: translate3d(-50%, 0, 0);
}
.iphone-model .px--ls .px__body__cut {
  top: 50%;
  left: 3%;
  width: 3.5%;
  height: 50%;
  border-radius: 0 80% 80% 0/10%;
  transform: translate3d(0, -50%, 0);
}
.iphone-model .px__body__speaker,
.iphone-model .px__body__camera,
.iphone-model .px__body__sensor {
  position: absolute;
  z-index: 2;
  background-color: #eeeef2;
  transform: translate(-50%, -50%);
}
.iphone-model .px__body__speaker {
  top: 4%;
  left: 50%;
  width: 12%;
  height: 0.8%;
  border-radius: 5px;
}
.iphone-model .px--ls .px__body__speaker {
  top: 50%;
  left: 4%;
  width: 0.8%;
  height: 12%;
}
.iphone-model .px__body__camera {
  top: 4%;
  left: 36%;
  width: 3.5%;
  height: 1.7%;
  border-radius: 50%;
  box-shadow: inset 0 0 2px 1px #fff;
}
.iphone-model .px--ls .px__body__camera {
  top: 64%;
  left: 4%;
  width: 1.7%;
  height: 3.5%;
}
.iphone-model .px__body__sensor {
  top: 4%;
  left: 61%;
  width: 2.2%;
  height: 1.1%;
  border-radius: 50%;
  background-color: #eeeef2;
  box-shadow: inset 0 0 2px 1px #fff;
}
.iphone-model .px--ls .px__body__sensor {
  top: 39%;
  left: 4%;
  width: 1.1%;
  height: 2.2%;
}
.iphone-model .px__body__mute,
.iphone-model .px__body__up,
.iphone-model .px__body__down,
.iphone-model .px__body__right {
  position: absolute;
  background-color: #fff;
  transform: translate(0, -50%);
}
.iphone-model .px--ls .px__body__mute,
.iphone-model .px--ls .px__body__up,
.iphone-model .px--ls .px__body__down,
.iphone-model .px--ls .px__body__right {
  transform: translate(-50%, 0);
}
.iphone-model .px--ls .px__body__right {
  background-color: #fff;
}
.iphone-model .px__body__mute {
  top: 14.7%;
  left: -0.7%;
  width: 0.7%;
  height: 4%;
  border-radius: 1px 0 0 1px;
}
.iphone-model .px--ls .px__body__mute {
  top: auto;
  left: 14.7%;
  bottom: -0.7%;
  width: 4%;
  height: 0.7%;
  border-radius: 0 0 1px 1px;
}
.iphone-model .px__body__up,
.iphone-model .px__body__down {
  left: -1%;
  width: 1%;
  height: 7.5%;
  border-radius: 2px 0 0 2px;
}
.iphone-model .px--ls .px__body__up,
.iphone-model .px--ls .px__body__down {
  bottom: -1%;
  width: 7.5%;
  height: 1%;
  border-radius: 0 0 2px 2px;
}
.iphone-model .px__body__up {
  top: 25%;
}
.iphone-model .px--ls .px__body__up {
  top: auto;
  left: 25%;
}
.iphone-model .px__body__down {
  top: 34%;
}
.iphone-model .px--ls .px__body__down {
  top: auto;
  left: 34%;
}
.iphone-model .px__body__right {
  top: 25%;
  right: -1%;
  width: 1%;
  height: 7.5%;
  border-radius: 0 2px 2px 0;
}
.iphone-model .px--ls .px__body__right {
  top: -1%;
  right: auto;
  left: 25%;
  width: 7.5%;
  height: 1%;
  border-radius: 2px 2px 0 0;
}
.iphone-model .px__screen {
  position: relative;
  z-index: 1;
}
.iphone-model .px__screen__ {
  position: relative;
  padding-bottom: 218%;
  background-color: #eeeef2;
  border-radius: 10%/5%;
  box-shadow: 0 0 10px #fff;
}
.iphone-model .px--ls .px__screen__ {
  padding-bottom: 46%;
  border-radius: 5%/10%;
}
.iphone-model .px__screen__frame {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  border-radius: inherit;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  background-color: #fff;
}
.iphone-model .px__screen__frame > .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5em;
  transform: translate(-50%, -50%);
}
.iphone-model .px__screen__frame video {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  position: absolute;
  left: 47%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.1);
}
.iphone-model .temp-wrapper {
  max-width: 300px;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .iphone-model .temp-wrapper {
    max-width: 350px;
    margin: 0 auto;
  }
  .iphone-model .px__body {
    background: #fff;
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.03);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.03);
  }
}
.px__screen__frame img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: contain;
}
