.parallax-image-module {
  background: linear-gradient(
    97.37deg,
    rgba(73, 78, 91, 0.75) 28.89%,
    rgba(255, 255, 255, 0) 62.22%
  );
  &__img {
    height: 100%;
    // background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 85px 0px 60px;
  }
  &__heading {
    font-size: 3rem;
    line-height: 4rem;
    color: $white;
    font-weight: 400;
    width: 100%;
    margin-bottom: 15px;
    @include media-breakpoint-up(lg) {
      font-size: 4rem;
      line-height: 5rem;
      width: 90%;
      margin-bottom: 15px;
    }
  }
  p {
    color: $white;
  }
}
