.pricing-module {
  margin: 60px 10px;
  @include media-breakpoint-up(lg) {
    margin: 105px 10px;
  }
  &--pattern {
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: -10px;
      right: -10px;
      bottom: -50px;
      opacity: 0.2;
      z-index: -1;
      background-image: url("../images/green-devider.png");
      background-position: center;
      background-size: cover;
      min-height: 500px;
    }
  }
  .nav-tabs {
    border: 2px solid $light-nevyblue;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    overflow: hidden;
    background-color: $white;
  }
  &__tabs {
    text-align: center;
    margin-bottom: 35px;
    @include media-breakpoint-up(lg) {
      margin-bottom: 50px;
    }
    .nav-link {
      background: $white;
      color: $light-nevyblue;
      border: none;
      padding: 4px 20px 7px;
      border-radius: 0;
      font-size: 1.4rem;
      line-height: 2.4rem;
      font-weight: 600;
      @include media-breakpoint-up(lg) {
        padding: 4px 26px 7px;
        font-size: 1.8rem;
        line-height: 3rem;
      }
      &.active {
        background: $light-nevyblue;
        color: $white;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
      }
    }
  }
}
.pricing-block {
  padding: 35px 25px 50px;
  background-color: $white;
  border: 2px solid $green;
  text-align: center;
  height: auto;
  position: relative;
  margin-bottom: 50px;
  @include media-breakpoint-up(lg) {
    margin-bottom: 50px;
    height: 100%;
  }
  &__title {
    color: $dark-grey;
    font-size: 2.4rem;
    line-height: 3rem;
    margin-bottom: 20px;
    &:after {
      content: "";
      background-image: url(../images/blue-devider.png);
      background-size: contain;
      width: 55px;
      height: 22px;
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      margin: 0 auto;
      margin-top: 3px;
    }
  }
  &__content {
    p {
      margin-bottom: 12px;
      font-size: 1.6rem;
      line-height: 2.5rem;
      color: #494e5b;
    }
    ul {
      text-align: left;
      li {
        display: flex;
        margin-bottom: 8px;
        font-size: 1.6rem;
        line-height: 2rem;
        color: $grey;
        &::before {
          content: "";
          width: 6px;
          height: 6px;
          display: inline-block;
          background-color: $light-nevyblue;
          border-radius: 50%;
          margin-right: 8px;
          margin-top: 13px;
          flex: 6px 0 0;
        }
      }
    }
  }
  &__price-box {
    margin-bottom: 12px;
  }
  &__price {
    color: $light-nevyblue;
    font-size: 3.8rem;
    line-height: 4.2rem;
  }
  &__subtitle {
    color: $green;
    line-height: 2.4rem;
  }
  .btn {
    margin-bottom: -25px;
    position: absolute;
    left: 0;
    right: 0;
    width: 200px;
    margin: 0 auto;
    bottom: -25px;
  }
}
