.pricing-column{
    margin: 60px 10px;
    @include media-breakpoint-up(lg){
        margin: 105px 10px;
    }
    &--pattern{
        position: relative;
        &::before{
            content: "";
            display: block;
            position: absolute;
            left: -10px;
            right: -10px;
            top: 0;
            opacity: 0.1;
            z-index: -1;
            background-image: url('../images/green-devider.png');
            background-position: center;
            background-size: cover;
            min-height: 500px;
        }
    }  

.pricing-block{
    padding: 35px 25px 50px;
    background-color: $white;
    border: 2px solid $green;
    text-align: center;
    height: auto;
    position: relative;
    margin-bottom: 50px;
    @include media-breakpoint-up(lg){
        margin-bottom: 50px;
        height: 100%;
    }
    &__title{
        color: $green;
        font-size: 2.4rem;
        line-height: 3rem;
        margin-bottom: 20px;
        &:after{
            content: '';
            background-image: url(../images/blue-devider.png);
            background-size: contain;
            width: 55px;
            height: 22px;
            display: block;
            background-position: center;
            background-repeat: no-repeat;
            margin: 0 auto;
            margin-top: 3px;
        }
    }
    &__content{
        p{
            text-align: center;
            padding: 20px 10px;
        }
        ul{
            text-align: left;
            li{
                display: flex;
                margin-bottom: 8px;
                font-size: 1.6rem;
                line-height: 2rem;
                color: $grey;
                &::before{
                    content: '';
                    width: 6px;
                    height: 6px;
                    display: inline-block;
                    background-color: $light-nevyblue;
                    border-radius: 50%;
                    margin-right: 8px;
                    margin-top: 9px;
                }
            }
        }
    }
    &__price-box{
        margin-bottom: 12px;
        background-color: $bg-cream;
        padding: 10px;
    }
    &__price{
        color: $light-nevyblue;
        font-size: 3rem;
        line-height: 3.5rem;
        font-weight: 700;
    }
    &__subtitle{
        color: $black;
        font-size: 2rem ;
        line-height: 2.4rem;
    }
    .btn{
        margin-bottom: -25px;
        position: absolute;
        left: 0;
        right: 0;
        width: 200px;
        margin: 0 auto;
        bottom: -25px;
    }
}
}