.product-checkout-page {
  .woocommerce-billing-fields {
    h3 {
      margin-bottom: 30px;
      color: $green;
    }
    &__field-wrapper {
      .form-row {
        label {
          color: $Nero;
        }
      }
    }
  }
  .woocommerce-shipping-fields {
    h3 {
      margin-bottom: 30px;
      span {
        color: $green;
        font-size: 3rem;
        line-height: 4.5rem;
        @include media-breakpoint-up(lg) {
          font-size: 3.6rem;
          line-height: 4.5rem;
        }
      }
    }
  }
  .woocommerce-input-wrapper {
    width: 100%;
    .select2-container .select2-selection--single {
      height: 35px !important;
    }
    input.text,
    input.title,
    input[type="email"],
    input[type="password"],
    input[type="tel"],
    input[type="text"],
    select,
    textarea {
      border: none;
      color: $Nero;
      height: 50px;
      font-size: 1.6rem;
      width: 100%;
      outline: none;
      font-family: revert;
    }
  }
  #order_review_heading {
    color: $green;
    margin-bottom: 30px;
  }
  #order_review {
    .woocommerce-checkout-payment {
      .payment_box {
        .wc-saved-payment-methods {
        }
      }
      .button {
        background-color: $green;
        padding-bottom: 14px;
        margin-top: 20px;
      }
    }
  }
  #add_payment_method #payment ul.payment_methods .stripe-card-group,
  .woocommerce-checkout #payment ul.payment_methods .stripe-card-group {
    width: 100%;
  }
  .wc-stripe-elements-field,
  .wc-stripe-iban-element-field {
    width: 100%;
  }
  .woocommerce-SavedPaymentMethods .form-row {
    width: 100% !important;
    @include media-breakpoint-up(lg) {
      width: 50% !important;
    }
  }
}
