.product-cart{
    padding: 50px 10px;
    &__title{
        font-size: 3rem;
        line-height: 4rem;
        font-family: "nunito";
        margin-bottom: 20px;
    }
    &__form{
        width: 100%;
    }
    .cart-collaterals{
        .cart_totals{
            h2{
                font-size: 3rem;
                line-height: 4rem;
                font-family: $nunito;
                margin-bottom: 20px;
            }
        }
        .cart-subtotal{
            th{
                color: $black;
                font-size: 1.8rem;
            }
        }
        .order-total{
            th{
                color: $black;
                font-size: 1.8rem;
            }
        }
        .wc-proceed-to-checkout{
            display: block;
            @include media-breakpoint-up(lg){
                display: inline-block;
            }
            .checkout-button{
                background-color: $green !important;
                color: $white !important;
                font-family: $nunito;
                padding-bottom: 16px !important;
                padding: 14px 20px;
                font-size: 1.6rem;
                &:hover{
                    background-color: $light-green !important;
                    color: $black !important;
                }
            }
        }
    }
}
.woocommerce-cart-form{
    &__cart-item{
        .product-name a{
            text-decoration: underline;
            color: $green;
            font-weight: bold;
            &:hover{
                text-decoration: none;
            }
        }
        .product-remove {
            a{
                &:hover{
                    background-color: transparent;
                    color: $black !important;
                }
            }
        }
    }
    &__contents{
            tr{
                th{
                    color: $black;
                    font-size: 1.8rem;
                }
            }
    }
    .coupon .input-text {
        width: 150px !important;
        padding: 8px !important;
        font-family: revert;
    }
    .coupon input::placeholder {
        color: $black;
        display: flex;
        align-items: center;
    }
    .actions .btn_cart{
        background-color: $green !important;
        color: $white !important;
        opacity: 1 !important;
        font-family: $nunito;
        padding-bottom: 16px !important;
        &:hover{
            background-color: $light-green !important;
            color: $black !important;
        }
    }
}