.product-shoppage{
    margin: 50px 0 100px;
    .woocommerce-products-header{
        margin-bottom: 20px;
        &__title{
            font-size: 4.8rem;
            line-height: 6rem;
            text-transform: uppercase;
            font-family: $nunito;
            text-align: left;
        }        
    }
    .woocommerce-ordering {
        .orderby{
            vertical-align: middle;
            padding: 10px;
            font-family: revert;
            outline: none;
        }
    }
    .products{
        .product{
            .woocommerce-loop-product__title{
                line-height: 2.5rem;
                font-size: 2rem !important;
                font-family: 'nunito';
                color: $Nero;
                padding: 0px;
            }
            .price{
                font-size: 1.8rem !important; 
                font-weight: bold !important;
            }
            .added_to_cart{
                float: right;
                color: $black;
                font-weight: 600;
            }
            .button{
                background-color: $green !important;
                color: $white !important;
                font-family: $nunito;
                padding-bottom: 16px !important;
                font-size: 1.6rem;                
                margin-top: 5px !important;
                &:hover{
                    background-color: $light-green !important;
                    color: $black !important;
                }
            }
        }
    }
}