.product-section{
    margin: 60px 10px;
    @include media-breakpoint-up(lg){
        margin: 80px 10px;
    }
    &--resources{
        .green{
            background-color: rgba(145, 150, 94, 0.8);
        }
        .grey{
            background-color: rgba(73, 78, 91, 0.8);
        }
        .nevyblue{
            background-color: rgba(100, 114, 157, 0.8);
        }
    }
    &--products{
        .dubble-heading-section {
            justify-content: flex-end;
        }
        .green{
            background-color: rgba(145, 150, 94, 0.7);
        }
        .grey{
            background-color: rgba(73, 78, 91, 0.7);;
        }
        .nevyblue{
            background-color: rgba(100, 114, 157, 0.7);
        }
    }
}
.product-column{
    
    padding: 30px 20px;
    margin: 0 auto;
    border-radius: 0 100px;
    margin-bottom: 30px;
    @include media-breakpoint-up(lg){
        max-width: 300px;
        margin-bottom: 0px;
    }
    &__section{
       
    }
    &__content{
        margin: 0 32px 30px;
        text-align: center;
        min-height: 216px;
        p{
            color: $floral;
        }
    }
    &__img{
        text-align: center;
        min-height: 240px;
        display: flex;
        align-items: center;
        img{
            margin: 0 auto;
        }
    }
    &__title{
        font-weight: 700;
        font-size: 2.8rem;
        line-height: 3.4rem;
        font-family: $nunito;
        margin: 0;
        color: $white;
        min-height: 68px;
    }
    &__btn{
        text-align: right;
    }
    
}