.single-product-module {
  margin: 50px 0;
  .woocommerce-breadcrumb {
    margin: 30px 0;
  }
  .summary {
    .product_title {
      font-size: 4rem;
      line-height: 4.5rem;
      font-family: "nunito";
      margin-bottom: 15px;
      color: $green;
    }
    .price {
      font-weight: bold;
      margin-bottom: 15px;
    }
    .variations {
      .value {
        #pa_size {
          margin-bottom: 20px;
        }
        select {
          padding: 10px;
          font-family: revert;
          outline: none;
          margin-bottom: 20px;
        }
      }
    }
    .quantity {
      .qty {
        font-family: revert;
        height: 40px;
        vertical-align: middle;
      }
    }
    .cart {
      margin-bottom: 20px !important;
      .button {
        background-color: $green !important;
        padding-bottom: 14px;
        font-family: $nunito;
      }
    }
    .woocommerce-product-details__short-description {
      p {
        margin-bottom: 15px;
      }
      h3 {
        margin-bottom: 15px;
        strong {
          font-size: 2.8rem;
          line-height: 4rem;
        }
      }
    }
    .stock {
      margin-bottom: 10px;
    }
    .product_meta {
      .tagged_as {
        font-weight: 600;
        display: block;
        a {
          color: $green;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .posted_in {
        font-weight: 600;
        display: block;
        a {
          color: $green;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .woocommerce-tabs {
    .tabs {
      &::before {
        content: " ";
        border-bottom-width: 2px !important;
      }
      padding-left: 5px !important;
      li.active {
        background-color: $white !important;
      }
      li {
        border-width: 2px !important;
        background-color: transparent !important;
        a {
          color: $green !important;
        }
      }
    }
  }
  .woocommerce-Tabs-panel {
    #commentform {
      .form-submit {
        .submit {
          color: $white !important;
          background-color: $green !important;
          padding-bottom: 14px !important;
        }
      }
    }
    h2 {
      font-size: 2.2rem;
      line-height: 3.5rem;
      color: $green;
      font-family: $nunito;
    }
    h3 {
      font-size: 1.8rem;
    }
    p {
      a {
        text-decoration: underline;
        color: $black;
        font-weight: bold;
      }
    }
  }
}

// related products

.related {
  h2 {
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 20px;
    color: $Nero;
    font-family: $nunito;
  }
  .products {
    .product {
      .woocommerce-loop-product__title {
        line-height: 2.5rem;
        font-size: 2rem !important;
        font-family: "nunito";
        color: $Nero;
        padding: 0px;
      }
      .price {
        font-size: 1.8rem !important;
        font-weight: bold !important;
      }
      .added_to_cart {
        float: right;
        color: $black;
        font-weight: 600;
      }
      .button {
        background-color: $green !important;
        color: $white !important;
        font-family: $nunito;
        padding-bottom: 16px !important;
        font-size: 1.6rem;
        margin-top: 5px !important;
        &:hover {
          background-color: $light-green !important;
          color: $black !important;
        }
      }
    }
  }
}
