.testimonal-section {
  margin: 80px 10px 100px;
  @include media-breakpoint-up(lg) {
    margin: 112px 0 130px;
  }
  .row {
    height: 100%;
  }
}
.testimonial-slider--double {
  // .slick-list{
  //     border: 1px solid $lightskyblue;
  //     background: $white;
  //     border-radius: 0px 100px;
  // }
  .slick-dots {
    bottom: -62px;
    text-align: right;
    right: 0;
    @include media-breakpoint-up(lg) {
      right: 85px;
    }
  }
  .slick-dots li {
    width: auto;
    height: auto;
    margin: 0 4px;
  }
  .slick-dots li button {
    background: $light-nevyblue;
    border-radius: 5px;
    width: 40px;
    height: 8px;
    padding: 0;
    opacity: 25%;
  }
  .slick-dots li.slick-active button {
    opacity: 100%;
  }
  .slick-dots li button:before {
    display: none;
  }
  .slide-arrow {
    background: transparent;
    border: none;
    position: absolute;
    bottom: -30px;
    color: $light-nevyblue;
    opacity: 70%;
    font-size: 16px;
    line-height: 18px;
  }
  .slide-arrow.prev-arrow {
    right: auto;
    @include media-breakpoint-up(lg) {
      right: 325px;
    }
    @include media-breakpoint-up(xl) {
      right: 460px;
    }
  }
  .slide-arrow.next-arrow {
    right: 0px;
    @include media-breakpoint-up(lg) {
      right: 85px;
    }
  }

  .slick-active .testimonial-block {
    border: 1px solid $green;
  }
  .testimonial-slider__block {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  .testimonial-block {
    padding: 42px 25px;
    border: 1px solid $lightskyblue;
    background: $white;
    border-radius: 0px 100px;
    width: 100% !important;
    min-height: 610px;
    display: flex;
    align-items: center;
    @include media-breakpoint-up(md) {
      min-height: 350px;
    }
    @include media-breakpoint-up(lg) {
      min-height: 445px;
      width: 85% !important;
    }
  }
  &__rate {
    margin-bottom: 10px;
  }
  p {
    color: $Nero;
    margin-bottom: 20px;
  }
}
