.testimonial-video{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    margin-bottom: 35px;
    @include media-breakpoint-up(lg){
        height: 100%;
        margin-bottom: 0px;
    }
    &__btn{
        height: 95px;
        width: 95px;
        border-radius: 50%;
        background-color: $transperent-nevyblue;
        position: relative;
        border: none;
        @include media-breakpoint-up(lg){
            height: 125px;
            width: 125px;
        }
        &:after{
            content: '';
            position: absolute;
            top: -12px;
            bottom: -12px;
            left: -12px;
            right: -12px;
            border-radius: 50%;
            border: 1px dashed $green;
        }
        img{
            height: 40px;
            @include media-breakpoint-up(lg){
                height: 48px; 
            }
        }
    }
}
.testimonial-video-modal{
    .modal-content{
        background: transparent;
        border: none;
        border-radius: 0;
    }
    .close{
        color: #fff;
        font-size: 20px;
    }
    .modal-header{
        border: none;
        padding: 0;
    }
    .modal-body{
        padding: 15px 0 0
    }
    iframe{
        width: 100%;
        height: 325px;
    }
}