.testimonal-section {
  margin: 80px 10px 100px;
  @include media-breakpoint-up(lg) {
    margin: 112px 0 130px;
  }
  .row {
    height: 100%;
  }
}
.testimonial-slider {
  .slick-slide {
    min-height: 610px;
    display: flex;
    align-items: center;
    // @include media-breakpoint-up(sm) {
    //   min-height: 350px;
    // }
    @include media-breakpoint-up(md) {
      min-height: 350px;
    }
    @include media-breakpoint-up(lg) {
      min-height: 445px;
    }
  }
  .slick-list {
    border: 1px solid $lightskyblue;
    background: $white;
    border-radius: 0px 100px;
  }
  .slick-dots {
    bottom: -62px;
    text-align: right;
  }
  .slick-dots li {
    width: auto;
    height: auto;
    margin: 0 4px;
  }
  .slick-dots li button {
    background: $light-nevyblue;
    border-radius: 5px;
    width: 40px;
    height: 8px;
    padding: 0;
    opacity: 25%;
  }
  .slick-dots li.slick-active button {
    opacity: 100%;
  }
  .slick-dots li button:before {
    display: none;
  }
  .slide-arrow {
    background: transparent;
    border: none;
    position: absolute;
    bottom: -30px;
    color: $light-nevyblue;
    opacity: 70%;
    font-size: 16px;
    line-height: 18px;
  }
  .slide-arrow.prev-arrow {
    left: 0;
  }
  .slide-arrow.next-arrow {
    right: 0;
  }
}
.testimonial-block {
  padding: 42px 25px;
  &__rate {
    margin-bottom: 10px;
  }
  p {
    color: $Nero;
    margin-bottom: 20px;
  }
}
.bio {
  display: flex;
  align-items: center;
  &__image {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
  }
  &__title {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: $green;
    display: block;
  }
  &__subtitle {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: $light-nevyblue;
    display: block;
  }
  &__date {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.8rem;
    display: block;
    color: $grey;
  }
}
.curv-rectangle {
  display: none;
  @include media-breakpoint-up(sm) {
    height: auto;
    width: 100%;
    display: block;
    overflow: hidden;
    border-radius: 0 100px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  @include media-breakpoint-up(lg) {
    height: auto;
    margin-bottom: 0px;
  }
  &__image {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: auto;
    object-fit: cover;
    @include media-breakpoint-up(lg) {
      min-height: 445px;
    }
  }
}
