.three-blogs{
  margin: 60px 10px;
  @include media-breakpoint-up(lg){
      margin: 105px 10px;
  }
  &--pattern{
    position: relative;
    &::before{
        content: "";
        display: block;
        position: absolute;
        left: -10px;
        right: -10px;
        top: 0px;
        opacity: 0.2;
        z-index: -1;
        background-image: url('../images/green-devider.png');
        background-position: center;
        background-size: cover;
        min-height: 500px;
    }
}
}

.blogs-module{
  background-color: $white;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  height: auto;
  margin-bottom: 30px;
  position: relative;
  @include media-breakpoint-up(lg){
    height: 100%;
    margin-bottom: 0px;
  }
  &__image{
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__content{
    padding: 30px 30px 60px;
    p{
      color: $grey;
      margin-bottom: 15px;
    }
  }
  &__author{
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 600;
    color: $green;
    position: absolute;
    bottom: 30px;
  }
}