.training-steps{
    margin: 80px 0;
    @include media-breakpoint-up(lg){
        margin: 100px 0;
    }
    &__title{
        font-size: 2.4rem;
        line-height: 3rem;
        font-weight: bold;
        margin-bottom: 40px;
        color: $Nero;
    }
    &__image{
        height: 190px;
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: center;  
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 140px;
    @include media-breakpoint-down(xs){
        width: 200px;  
        height: 200px;  
    } 
    }
    &__module{
        display: flex;
        flex-wrap: wrap;

    }
    &__column{
        flex: 100% 0 0;
        text-align: center; 
        margin-bottom: 50px;
        @include media-breakpoint-up(sm){
            flex: 50% 0 0;
        } 
        @include media-breakpoint-up(lg){
            flex: 20% 0 0;
        }    
        &:nth-child(odd){
            margin-top: 0;         
            @include media-breakpoint-up(lg){
                margin-top: 120px;
            }
         }
    }
    &__desc{
       
        font-size: 2.4rem;
        line-height: 3rem;
        font-weight: bold;
        color: $Nero;
       
    }
}