.video-content-block{
    margin: 70px 0;
    @include media-breakpoint-up(lg){
        margin: 100px 0;
    }
}
.video-content-module{
    &__text{
        text-align: center;
        margin: 30px 0 0;
        @include media-breakpoint-up(lg){
            margin: 40px 0 0;
        }
        p{
            color: $charcoal-grey;
        }
    }
    &__image{
        position: relative;
        img{
            width: 100%;
        }
    }
    &__title{
        margin-bottom: 18px;
        color: $charcoal-grey;
        font-size: 3rem;
        line-height: 4rem;
        font-family: $nunito ;
        font-weight: 700;
        @include media-breakpoint-up(lg){
            font-size: 3.6rem;
            line-height: 4.5rem;
        }
    }
    &__icons{
        margin: 30px 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        @include media-breakpoint-up(lg){
            margin: 40px 0 0;
        }
    }
    .testimonial-video{
        position: absolute;
        left: 30px;
    right: 30px;
    top: 18px;
    bottom: 28px;
        height: auto;
        margin-bottom: 0px;
        @include media-breakpoint-up(md){
            left: 50px;
            right: 50px;
            top: 30px;
            bottom: 50px;
        }
        img{
            width: auto;
        }
    }
}
.video-content-box{
    margin: 0 0 30px;
    @include media-breakpoint-up(lg){
        margin: 0 0 50px;
    }
    &__title{
        color: $charcoal-grey;
        margin: 0 0 18px;
        font-size: 3rem;
        line-height: 4rem;
        font-family: $nunito ;
        font-weight: 700;
        @include media-breakpoint-up(lg){
            font-size: 3.6rem;
            line-height: 4.5rem;
        }
    }
    p{
        color: $charcoal-grey;
    }
}