.woocommerce-accountpage{
    margin: 50px 0;
    @include media-breakpoint-up(lg) {
        margin: 100px 0;
    }
    .woocommerce-MyAccount-navigation{
        ul{
           li.woocommerce-MyAccount-navigation-link{
                border-bottom: 1px solid $silver;
                padding: 8px 0;
                a{
                    &:hover{
                        color: $black;
                        font-weight: bold;
                    }
                }
            }
            li.is-active a{
                color: $green;
            }
        }
    }
    .woocommerce-MyAccount-content{
        margin-top: 50px;
        p{
            margin-bottom: 15px;
            font-size: 1.8rem;
            line-height: 3.4rem;
        a{
            color: $green;
            text-decoration: underline;
            font-weight: 600;
        }
    }
    .woocommerce-Address{
        h3{
            font-size: 2.4rem;
        }
        a{
            color: $green;
        }
    }
    .woocommerce-EditAccountForm{
        .woocommerce-form-row{
            input.text, input.title, input[type="email"], input[type="password"], input[type="tel"], input[type="text"], select, textarea {
                border: none;
                color: $Nero;
                height: 50px;
                font-size: 1.6rem;
                width: 100%;
                outline: none;
                font-family: revert;
                padding: 0 10px;
            }
            .password-input{
                width: 100%;
            }           
        }
    }
    .woocommerce-Button{
        background-color: $green;
        color: $white;
        padding-bottom: 16px;
    }
    }
}
.woocommerce-forms{
    margin: 50px 0;
    h2{
        color: $green;
        font-family: $nunito;
        font-size: 3rem;
        line-height: 3.5rem;
        text-align: center;
        margin-bottom: 30px;
    }
    .woocommerce-form{
        // width: 100%;
        // margin: 0 auto !important;
        // @include media-breakpoint-up(lg) {
        //     width: 50%;
        // }
        .woocommerce-privacy-policy-text{
            margin-bottom: 20px;
        }
        .form-row{
            .woocommerce-button{
                background-color: $green;
                color: $white;
                padding-bottom: 16px;
            }
            .woocommerce-form__label{
                width: 100%;
                margin-bottom: 15px;
            }
        }
        .woocommerce-form-row{
           
            input.input-text{
                border: none;
                color: $Nero;
                height: 50px;
                font-size: 1.6rem;
                width: 100%;
                outline: none;
                font-family: revert;
                padding: 0 10px;
            }
            .password-input{
                width: 100%;
            }         
        }       
    }
}
.woocommerce-passwordpage{
    margin: 50px 0;
    .woocommerce-ResetPassword{
        .woocommerce-form-row{
            input.input-text{
                border: none;
                color: $Nero;
                height: 50px;
                font-size: 1.6rem;
                width: 100%;
                outline: none;
                font-family: revert;
                padding: 0 10px;
            }
            .woocommerce-Button{
        background-color: $green;
        color: $white;
        padding-bottom: 16px;
    }
        }
    }
}

.woocommerce-PaymentBox {
    .stripe-card-group{
        width: 100%;
    }
    .stripe-cvc-element{
        width: 100%;
    }
}
.woocommerce-accountpage .woocommerce-MyAccount-content .woocommerce-Button.alt{
    background-color: #91965e !important;

}
#add_payment_method #payment ul.payment_methods .stripe-card-group,
  .woocommerce-checkout #payment ul.payment_methods .stripe-card-group {
    width: 100%;
  }
  .wc-stripe-elements-field,
  .wc-stripe-iban-element-field {
    width: 100%;
  }
  .woocommerce-SavedPaymentMethods .form-row {
    width: 100% !important;
    @include media-breakpoint-up(lg) {
      width: 50% !important;
    }
  }